@charset "utf-8";

p.c_tit1 { letter-spacing:-1px; color:#333; font-weight:bold; font-size:12px;}

/* input file */
span.ipfile_txt { position:relative; color:#444; font-size:12px; line-height:30px; text-align:center; display:block; border:none; background:none; }
span.ipfile_txt input { position:absolute !important; left:0; top:0; z-index:999 !important; }

.loginbox { padding:94px 0 0 0; }
.loginbox .box_cont { position:relative; width:520px; margin:0 auto; }
.loginbox .box_cont .txt { position:absolute; right:2px; top:13px; }
.loginbox .box_cont .imgbox { margin:20px 0 0 0; border-bottom:2px solid #3d313d }
.loginbox .box_cont .imgbox img { border-bottom:1px solid #463b46 }
.loginbox .box_cont .login_ip { padding:40px 53px 39px 53px; border-left:1px solid #eee; border-right:1px solid #eee; border-bottom:1px solid #cbcbcb; background-color:#fff; }
.loginbox .box_cont .login_ip .ipbox { position:relative; }
.loginbox .box_cont .login_ip .ipbox li { margin:0 0 10px 0; }
.loginbox .box_cont .login_ip .ipbox li label { display:inline-block; width:66px; vertical-align:middle; }
.loginbox .box_cont .login_ip .ipbox li input[type="text"], 
.loginbox .box_cont .login_ip .ipbox li input[type="password"],
.loginbox .box_cont .login_ip .ipbox li input[type="file"] { outline:none; vertical-align:middle; width:212px; height:30px; line-height:30px; padding:0 6px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.loginbox .box_cont .login_ip .ipbox .btn_login { position:absolute; left:295px; top:0; }
.loginbox .box_cont .login_ip .txtbox { text-align:center; margin:20px 0 0 0; line-height:20px; color:#777; font-size:11px; letter-spacing:-1px; }
.loginbox .box_cont .login_ip .txtbox strong { color:#66bac6; }
.loginbox .box_cont .login_ip .stiehome { text-align:center; margin:22px 0 0 0; }
.loginbox .box_cont .txt_copyright { text-align:center; margin:26px 0 0 0; padding:0 0 50px 0; font-family:Tahoma; color:#777; font-size:11px; letter-spacing:1px; }


.basisbox { margin:15px auto 0 auto; width:530px; }
.basisbox table { width:100%; border-top:1px solid #ddd; }
.basisbox thead th { text-align:center; height:59px; color:#333; font-size:12px; font-weight:bold; letter-spacing:-1px; border-bottom:1px solid #ddd; background-color:#f8f8f8; }
.basisbox tbody td { text-align:center; padding:14px 15px; color:#666; border-bottom:1px solid #ddd; background-color:#fff; }
.basisbox tbody td input[type="text"], 
.basisbox tbody td input[type="password"],
.basisbox tbody td input[type="file"] { outline:none; vertical-align:middle; width:100%; height:30px; line-height:30px; padding:0 6px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }

.basisbox thead td input[type="text"] { outline:none; vertical-align:middle; width:70%; height:30px; line-height:30px; padding:0 6px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.basisbox tbody td select { outline:none; vertical-align:middle; width:100%; height:30px; line-height:30px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }


.board_search { position:relative; padding:0 149px 0 19px; border:1px solid #b3b2b2; background-color:#f8f8f8; }
.board_search table { width:100%; }
.board_search tbody th { text-align:right; border-top:1px solid #ddd; }
.board_search tbody th strong { display:inline-block; padding:0 31px 0 0; color:#333; letter-spacing:-1px; }
.board_search tbody td { padding:9px 0; border-top:1px solid #ddd; }
.board_search tbody tr:first-child th,.board_search tbody tr:first-child td { border-top:none; }
.board_search tbody td input[type="text"], 
.board_search tbody td input[type="password"],
.board_search tbody td input[type="file"] { outline:none; vertical-align:middle; height:30px; line-height:30px; padding:0 6px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.board_search tbody td input.ip1 { width:125px; }
.board_search tbody td input.ip2 { width:205px; }
.board_search tbody td input.ip3 { width:100%; }
.board_search tbody td select { outline:none; vertical-align:middle; height:30px; line-height:30px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.board_search tbody td select.sel1 { width:125px; }
.board_search tbody td select.sel2 { width:85px; }
.board_search tbody td select.sel3 { width:100%; }
.board_search tbody td span.ipbox1 { display:block; margin:4px 0 0 0; }

.tabmenu { margin:30px 0 0 0; border-bottom:1px solid #1ea6b8; }
.tabmenu ul { *zoom:1; }
.tabmenu ul:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
.tabmenu ul li { float:left; margin:0 -1px -1px 0; }
.tabmenu ul li a { display:block; width:163px; text-align:center; padding:16px 0; background-color:#f8f8f8; border:1px solid #ddd; border-width:1px 1px 0 1px; border-bottom:1px solid #1ea6b8; }
.tabmenu ul li a:hover,.tabmenu ul li a.on { width:161px; padding:16px 0 16px 0; margin-bottom:-2px; color:#1ea6b8; font-weight:bold; background-color:#fff; border:1px solid #1ea6b8; border-width:2px 2px 0 2px; border-bottom:none; }

.arraybox {}
.arraybox span.txt { display:inline-block; margin:0 20px 0 0; color:#666; }
.arraybox span.txt strong { letter-spacing:-1px; color:#333; }
.arraybox select { outline:none; vertical-align:middle; height:30px; line-height:30px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.arraybox select.sel1 { width:105px; }
.arraybox input[type="text"] { outline:none; vertical-align:middle; height:30px; line-height:30px; padding:0 6px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.arraybox input.ip1 { width:125px; }


/* table type */
.table_typeA {}
.table_typeA table {}
.table_typeA table { width:100%; border-top:1px solid #aeaeae; border-bottom:1px solid #aeaeae; }
.table_typeA thead th { text-align:center; height:49px; color:#333; font-size:12px; font-weight:bold; letter-spacing:-1px; border-bottom:1px solid #ddd; background-color:#f8f8f8; }
.table_typeA tfoot th { text-align:center; height:49px; color:#333; font-size:12px; font-weight:bold; letter-spacing:-1px; border-bottom:1px solid #ddd; background-color:#f8f8f8; }
.table_typeA thead th span.btn_updown { display:inline-block; margin:0 0 0 10px; }
.table_typeA thead th span.btn_updown img { margin:0 -1px; }
.table_typeA tbody td { text-align:center; padding:9px 15px; height:30px; line-height:16px; color:#666; border-top:1px solid #ddd; background-color:#fff; }
.table_typeA tbody tr:first-child th, .table_typeA tbody tr:first-child td { border-top:none; }
.table_typeA tbody td input[type="text"], 
.table_typeA tbody td input[type="password"],
.table_typeA tbody td input[type="file"] { outline:none; vertical-align:middle; width:100%; height:30px; line-height:30px; padding:0 6px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.table_typeA tbody td select { outline:none; vertical-align:middle; width:100%; height:30px; line-height:30px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.table_typeA tbody td strong.fc1 { color:#1ea6b8; }
.table_typeA tbody td strong.fc2 { color:#d20000; }
.table_typeA tbody td strong.fc_s1 { color:#1ea6b8; font-size:11px; }
.table_typeA tbody td.td_sel { text-align:left; }
.table_typeA tbody td.td_sel select  { width:30%; margin:0 2px 0 0; display:inline-block; }
.table_typeA tbody td.td_left { text-align:left; }
.table_typeA tbody td img.icon_re { vertical-align:middle; margin:0 5px 0 0; }
.table_typeA tfoot td { text-align:right; padding:9px 20px; height:30px; line-height:16px; color:#666; border-top:1px solid #ddd; background-color:#fefefe; }
.table_typeA tfoot td.td_right { text-align:right; padding-right:30px; }
.table_typeA tfoot td strong.fc2 { color:#d20000; }
.table_typeA tbody td select.sel2 { width:65px; }

.table_bg tr.over tbody th, .table_bg tbody tr.over td { background-color:#f0f5f6; }

.table_typeB {}
.table_typeB table { width:100%; border-top:1px solid #aeaeae; border-bottom:1px solid #aeaeae; }
.table_typeB tbody th { text-align:left; height:48px; font-size:12px; color:#333; font-weight:bold; letter-spacing:-1px; border-top:1px solid #ddd; background-color:#f8f8f8; }
.table_typeB tbody th strong { display:inline-block; padding:0 0 0 21px; color:#333; }
.table_typeB tbody th span { color:#1ea6b8; display:inline-block; margin:0 2px 0 0; }
.table_typeB tbody td { text-align:left; color:#666; padding:10px 0 10px 10px; line-height:16px; border-top:1px solid #ddd; background-color:#fff; }
.table_typeB tbody tr:first-child th, .table_typeB tbody tr:first-child td { border-top:none; }
.table_typeB tbody td span.ipbox1 { display:block; margin:4px 0 0 0; }
.table_typeB tbody td input[type="text"], 
.table_typeB tbody td input[type="password"],
.table_typeB tbody td input[type="file"] { outline:none; vertical-align:middle; height:30px; line-height:30px; padding:0 6px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.table_typeB tbody td input.ip1 { width:235px; }
.table_typeB tbody td input.ip2 { width:65px; }
.table_typeB tbody td input.ip3 { width:85px; }
.table_typeB tbody td input.ip4 { width:100px; }
.table_typeB tbody td input.ip5 { width:355px; }
.table_typeB tbody td input.ip6 { width:745px; }
.table_typeB tbody td input.ip7 { width:135px; }
.table_typeB tbody td input.ip8 { width:115px; }
.table_typeB tbody td input.ip9 { width:285px; }
.table_typeB tbody td input.ip_bg { background-color:#eee; }
.table_typeB tbody td select { outline:none; vertical-align:middle; width:100%; height:30px; line-height:30px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.table_typeB tbody td select.sel1 { width:85px; }
.table_typeB tbody td select.sel2 { width:75px; }
.table_typeB tbody td select.sel3 { width:185px; }
.table_typeB tbody td select.sel4 { width:105px; }
.table_typeB tbody td label { vertical-align:middle; }
.table_typeB tbody td label input { margin:-2px 8px 0 0; }
.table_typeB tbody td ul.ch_list1 li { display:inline-block; margin:0 15px 0 0; }
.table_typeB tbody td ul.txt_list { display:block; margin:5px 0 0 0; }
.table_typeB tbody td ul.txt_list li { line-height:22px; color:#666; }
.table_typeB tbody td ul.txt_list li strong { color:#333; }
.table_typeB tbody td.td_editor { padding:20px 0 20px 14px; }
.table_typeB tbody td textarea { outline:none; vertical-align:middle; line-height:18px; padding:10px 20px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.table_typeB tbody td.td_editor textarea { width:807px; height:270px; }
.table_typeB tbody td .imgbox { position:relative; }
.table_typeB tbody td .imgbox p.img_i { display:inline-block; width:70px; height:76px; overflow:hidden; background-color:#eee; }
.table_typeB tbody td .imgbox p.img_i1 { display:inline-block; width:100px; height:75px; background-color:#eee; }
.table_typeB tbody td .imgbox input.ip_file { width:88px !important; }
.table_typeB tbody td .filebox { position:relative; width:170px !important; display:inline-block; vertical-align:bottom; margin:0 0 5px 5px; }
.table_typeB tbody td .imgbox.ip_box1 input.ip_file { width:345px !important; }
.table_typeB tbody td .imgbox.ip_box1 .filebox { width:427px !important; }
.table_typeB tbody .small { padding:2px 0; }


/* btn */
a.btn_70 { display:inline-block; vertical-align:middle; background:url(img/btn_70.gif) left center no-repeat; }
a.btn_70 span { display:inline-block; text-align:center; width:70px; height:30px; line-height:30px; color:#444; cursor:pointer;}
a.btn_70 span.add { padding:0 14px 0 0; width:56px; background:url(img/icon_add.gif) right center no-repeat; }
a.btn_70g { display:inline-block; vertical-align:middle; margin:0 2px; background:url(img/btn_70g.gif) left center no-repeat; }
a.btn_70g span { display:inline-block; text-align:center; width:70px; height:30px; line-height:30px; color:#444; }

a.btn_80 { display:inline-block; vertical-align:middle; background:url(img/btn_80.gif) left center no-repeat; }
a.btn_80 span { display:inline-block; text-align:center; width:80px; height:30px; line-height:30px; color:#444; overflow:hidden; }

a.btn_100g { display:inline-block; vertical-align:middle; margin:0 2px; background:url(img/btn_100g.gif) left center no-repeat; }
a.btn_100g span { display:inline-block; text-align:center; width:100px; height:30px; line-height:30px; color:#444; overflow:hidden; }

a.btn_120w { display:inline-block; vertical-align:middle; margin:0 2px; background:url(img/btn_120w.gif) left center no-repeat; }
a.btn_120w span { display:inline-block; text-align:center; width:120px; height:40px; line-height:40px; color:#444; font-weight:bold; overflow:hidden; }
a.btn_120w span.list { padding:0 0 0 18px; width:102px; background:url(img/icon_list.gif) 36px center no-repeat; }
a.btn_120bk { display:inline-block; vertical-align:middle; margin:0 2px; background:url(img/btn_120bk.gif) left center no-repeat; }
a.btn_120bk span { display:inline-block; text-align:center; width:120px; height:40px; line-height:40px; color:#fff; font-weight:bold; overflow:hidden; }
a.btn_120b { display:inline-block; vertical-align:middle; margin:0 1px; background:url(img/btn_120b.gif) left center no-repeat; }
a.btn_120b span { display:inline-block; text-align:center; width:120px; height:40px; line-height:40px; color:#fff; font-weight:bold; overflow:hidden; }

.btn_save { margin:30px 0 0 0; vertical-align:middle; text-align:center; }
.btn_save a { margin:0 auto; display:block; text-align:center; width:120px; height:40px; line-height:40px; color:#fff; font-weight:bold; background:url(img/btn_save.gif) right center no-repeat;}

.btn_search { position:absolute; right:15px; top:15px; }
.btn_search a { margin:0 auto; text-align:center; display:block; width:115px; height:70px; line-height:70px; color:#fff; font-weight:bold; background:url(img/btn_search.gif) right center no-repeat;}

.btn_process { margin:20px 0 0 0; }
.btn_process select { outline:none; vertical-align:middle; width:125px; height:30px; line-height:30px; color:#666; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.btn_process a { vertical-align:middle; display:inline-block; background:url(img/btn_120.gif) left center no-repeat; }
.btn_process a span { display:inline-block; text-align:center; padding:0 0 0 16px; width:104px; height:30px; line-height:30px; color:#444; overflow:hidden; background:url(img/icon_ch.gif) 14px center no-repeat;}

.btn_box { margin:30px 0 0 0; *zoom:1; }
.btn_box:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
.btn_box .btn_left { float:left; }
.btn_box .btn_right { float:right; }
.btn_box .btn_process { margin:0; }
.btn_box .arraybox { float:left; padding:10px 0 0 0; }

/* paging */
.paging { position:relative; z-index:999; clear:both; float:none; margin:35px auto 0 auto; width:100%; text-align:center;  }
.paging a { display:inline-block; vertical-align:middle; }
.paging span { vertical-align:middle; display:inline-block; margin:0 -1px; padding:0 12px; color:#999; }
.paging span strong { font-weight:normal; }
.paging a.current span{ padding:0; background:url(img/bg_paging_r.gif) right top no-repeat; }
.paging a.current strong { font-weight:bold; display:block; padding:0 12px; color:#333; line-height:28px; background:url(img/bg_paging_l.gif) left top no-repeat; }
.paging img.prev { margin:0 15px 0 0; }
.paging img.next { margin:0 0 0 15px;}

/* margin top */
.m10 { margin-top:10px; }
.m15 { margin-top:15px; }
.m20 { margin-top:20px; }
.m25 { margin-top:25px; }
.m30 { margin-top:30px; }


/* popup */
.popup_box {}
.popup_box .titbox { height:60px; background-color:#353c45; }
.popup_box .titbox p.t { padding:22px 0 0 30px; color:#ddd; font-size:14px; font-weight:bold; }
.popup_box .popbody { padding:30px 30px 0 30px; }
.popup_box .popbody .scrollbox { position:relative; height:362px; overflow:auto; }
.popup_box .popbody .scrollbox td { padding:9px 5px; }
.popup_box .popbody .pop_inventory {}
.popup_box .popbody .pop_inventory p.tb_tit { color:#1ea6b8; font-size:16px; font-weight:bold; letter-spacing:-1px; padding:0 0 20px 0; }

.mCSB_container { margin:0 20px 0 0 !important; }


.text-center {text-align:center !important;}



.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -o-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-opacity: 0.65;
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
 .btn-default {
  color: #333333;
  background-color: #f4f3ed;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f4f3ed));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f4f3ed, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f3ed 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f4f3ed 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff4f3ed', GradientType=0);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
  border-color: #bab9b8;
  border-bottom: 1px solid #a1a09e;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.3), 0px 2px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.3), 0px 2px 2px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.3), 0px 2px 2px 0px rgba(0,0,0,0.1);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}
 .btn-default:hover,
 .btn-default:focus,
 .btn-default:active,
 .btn-default.active,
.open .dropdown-toggle .btn-default {
  color: #333333;
  background-color: #e5e2d4;
  border-color: #9c9a99;
}
 .btn-default:active,
 .btn-default.active,
.open .dropdown-toggle .btn-default {
  background-image: none;
}
 .btn-default.disabled,
 .btn-default[disabled],
fieldset[disabled]  .btn-default,
 .btn-default.disabled:hover,
 .btn-default[disabled]:hover,
fieldset[disabled]  .btn-default:hover,
 .btn-default.disabled:focus,
 .btn-default[disabled]:focus,
fieldset[disabled]  .btn-default:focus,
 .btn-default.disabled:active,
 .btn-default[disabled]:active,
fieldset[disabled]  .btn-default:active,
 .btn-default.disabled.active,
 .btn-default[disabled].active,
fieldset[disabled]  .btn-default.active {
  background-color: #f4f3ed;
  border-color: #bab9b8;
}
 .btn-primary {
  color: #ffffff;
  background-color: #2980b9;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#409ad5), to(#2980b9));
  background-image: -webkit-linear-gradient(top, #409ad5, 0%, #2980b9, 100%);
  background-image: -moz-linear-gradient(top, #409ad5 0%, #2980b9 100%);
  background-image: linear-gradient(to bottom, #409ad5 0%, #2980b9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff409ad5', endColorstr='#ff2980b9', GradientType=0);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
  border-color: #20638f;
  border-bottom: 1px solid #164666;
}
 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active,
 .btn-primary.active,
.open .dropdown-toggle .btn-primary {
  color: #ffffff;
  background-color: #226998;
  border-color: #15405d;
}
 .btn-primary:active,
 .btn-primary.active,
.open .dropdown-toggle .btn-primary {
  background-image: none;
}
 .btn-primary.disabled,
 .btn-primary[disabled],
fieldset[disabled]  .btn-primary,
 .btn-primary.disabled:hover,
 .btn-primary[disabled]:hover,
fieldset[disabled]  .btn-primary:hover,
 .btn-primary.disabled:focus,
 .btn-primary[disabled]:focus,
fieldset[disabled]  .btn-primary:focus,
 .btn-primary.disabled:active,
 .btn-primary[disabled]:active,
fieldset[disabled]  .btn-primary:active,
 .btn-primary.disabled.active,
 .btn-primary[disabled].active,
fieldset[disabled]  .btn-primary.active {
  background-color: #2980b9;
  border-color: #20638f;
}
 .btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f4c37d), to(#f0ad4e));
  background-image: -webkit-linear-gradient(top, #f4c37d, 0%, #f0ad4e, 100%);
  background-image: -moz-linear-gradient(top, #f4c37d 0%, #f0ad4e 100%);
  background-image: linear-gradient(to bottom, #f4c37d 0%, #f0ad4e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4c37d', endColorstr='#fff0ad4e', GradientType=0);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
  border-color: #eea236;
  border-bottom: 1px solid #df8a13;
}
 .btn-warning:hover,
 .btn-warning:focus,
 .btn-warning:active,
 .btn-warning.active,
.open .dropdown-toggle .btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}
 .btn-warning:active,
 .btn-warning.active,
.open .dropdown-toggle .btn-warning {
  background-image: none;
}
 .btn-warning.disabled,
 .btn-warning[disabled],
fieldset[disabled]  .btn-warning,
 .btn-warning.disabled:hover,
 .btn-warning[disabled]:hover,
fieldset[disabled]  .btn-warning:hover,
 .btn-warning.disabled:focus,
 .btn-warning[disabled]:focus,
fieldset[disabled]  .btn-warning:focus,
 .btn-warning.disabled:active,
 .btn-warning[disabled]:active,
fieldset[disabled]  .btn-warning:active,
 .btn-warning.disabled.active,
 .btn-warning[disabled].active,
fieldset[disabled]  .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
 .btn-danger {
  color: #ffffff;
  background-color: #e53e32;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#eb695f), to(#e53e32));
  background-image: -webkit-linear-gradient(top, #eb695f, 0%, #e53e32, 100%);
  background-image: -moz-linear-gradient(top, #eb695f 0%, #e53e32 100%);
  background-image: linear-gradient(to bottom, #eb695f 0%, #e53e32 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeb695f', endColorstr='#ffe53e32', GradientType=0);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
  border-color: #e12a1d;
  border-bottom: 1px solid #b42117;
}
 .btn-danger:hover,
 .btn-danger:focus,
 .btn-danger:active,
 .btn-danger.active,
.open .dropdown-toggle .btn-danger {
  color: #ffffff;
  background-color: #d3271b;
  border-color: #ab2016;
}
 .btn-danger:active,
 .btn-danger.active,
.open .dropdown-toggle .btn-danger {
  background-image: none;
}
 .btn-danger.disabled,
 .btn-danger[disabled],
fieldset[disabled]  .btn-danger,
 .btn-danger.disabled:hover,
 .btn-danger[disabled]:hover,
fieldset[disabled]  .btn-danger:hover,
 .btn-danger.disabled:focus,
 .btn-danger[disabled]:focus,
fieldset[disabled]  .btn-danger:focus,
 .btn-danger.disabled:active,
 .btn-danger[disabled]:active,
fieldset[disabled]  .btn-danger:active,
 .btn-danger.disabled.active,
 .btn-danger[disabled].active,
fieldset[disabled]  .btn-danger.active {
  background-color: #e53e32;
  border-color: #e12a1d;
}
 .btn-success {
  color: #ffffff;
  background-color: #7ea568;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#99b888), to(#7ea568));
  background-image: -webkit-linear-gradient(top, #99b888, 0%, #7ea568, 100%);
  background-image: -moz-linear-gradient(top, #99b888 0%, #7ea568 100%);
  background-image: linear-gradient(to bottom, #99b888 0%, #7ea568 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99b888', endColorstr='#ff7ea568', GradientType=0);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
  border-color: #71995b;
  border-bottom: 1px solid #597948;
}
 .btn-success:hover,
 .btn-success:focus,
 .btn-success:active,
 .btn-success.active,
.open .dropdown-toggle .btn-success {
  color: #ffffff;
  background-color: #6a8f55;
  border-color: #557244;
}
 .btn-success:active,
 .btn-success.active,
.open .dropdown-toggle .btn-success {
  background-image: none;
}
 .btn-success.disabled,
 .btn-success[disabled],
fieldset[disabled]  .btn-success,
 .btn-success.disabled:hover,
 .btn-success[disabled]:hover,
fieldset[disabled]  .btn-success:hover,
 .btn-success.disabled:focus,
 .btn-success[disabled]:focus,
fieldset[disabled]  .btn-success:focus,
 .btn-success.disabled:active,
 .btn-success[disabled]:active,
fieldset[disabled]  .btn-success:active,
 .btn-success.disabled.active,
 .btn-success[disabled].active,
fieldset[disabled]  .btn-success.active {
  background-color: #7ea568;
  border-color: #71995b;
}
 .btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#85d0e7), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #85d0e7, 0%, #5bc0de, 100%);
  background-image: -moz-linear-gradient(top, #85d0e7 0%, #5bc0de 100%);
  background-image: linear-gradient(to bottom, #85d0e7 0%, #5bc0de 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff85d0e7', endColorstr='#ff5bc0de', GradientType=0);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4), 0px 2px 2px 0px rgba(0,0,0,0.2);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
  border-color: #46b8da;
  border-bottom: 1px solid #28a1c5;
}
 .btn-info:hover,
 .btn-info:focus,
 .btn-info:active,
 .btn-info.active,
.open .dropdown-toggle .btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}
 .btn-info:active,
 .btn-info.active,
.open .dropdown-toggle .btn-info {
  background-image: none;
}
 .btn-info.disabled,
 .btn-info[disabled],
fieldset[disabled]  .btn-info,
 .btn-info.disabled:hover,
 .btn-info[disabled]:hover,
fieldset[disabled]  .btn-info:hover,
 .btn-info.disabled:focus,
 .btn-info[disabled]:focus,
fieldset[disabled]  .btn-info:focus,
 .btn-info.disabled:active,
 .btn-info[disabled]:active,
fieldset[disabled]  .btn-info:active,
 .btn-info.disabled.active,
 .btn-info[disabled].active,
fieldset[disabled]  .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-tp {
  border: 1px solid #E0DACF;
  padding: 5px 10px;
  display: inline-block;
}
.btn-round {
  border-radius: 30px!important;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-round.btn-xs {
  padding-left: 10px;
  padding-right: 10px;
}
.btn-action i {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}
.btn-action.btn-lg {
  font-size: 24px;
}
.btn-iconed i:first-child {
  margin-right: 5px;
}
.btn-iconed i:last-child {
  margin-left: 5px;
}
.btn-link {
  color: #2980b9;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #1b557a;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn-xs {
  padding: 1px 5px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}


.dev_stat_green {
  color: #fff;
  background-color: #9DC456;
  padding: 2px 4px;
}
.dev_stat_red {
  color: #fff;
  background-color: #F4615F;
  padding: 2px 4px;
}
.dev_stat_blue {
  color: #fff;
  background-color: #0058b4;
  padding: 2px 4px;
}
.dev_stat_yellow {
  color: #fff;
  background-color: #eea236;
  padding: 2px 4px;
}

.dev_stat_gray {
  color: #fff;
  background-color: #999999;
  padding: 2px 4px;
}
td .btn {padding:3px;margin:5px;}

.help-inline {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #88909b;
  font-size: 12px;
}
.text-danger {color:#1ea6b8;}



.morris-hover {
  position: absolute;
  z-index: 1000;
}
.morris-hover.morris-default-style {
  padding: 6px 10px;
  color: #333;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}