@charset "utf-8";

body { background:url(img/bg_body_line.gif) left top repeat-y; }
body.bg_loign { background-color:#f3f3f3; background-image:none; }
body.bgNO { background-image:none;background-color:#fff;  }

#wrap { position:relative; width:100%; min-width:1800px; text-align:left;  min-height:100%; _height:100%;/* le6 */ margin-bottom:-116px; }

#header { position:relative; z-index:9999; width:100%; }
#header .topbox { position:relative; height:40px; background-color:#23272d; *zoom:1; } 
#header .topbox:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
#header .topbox h1 { position:absolute; left:32px; top:17px; z-index:999; }
#header .topbox h1 img { display:block; }
#header .topbox .topmenu { position:relative; width:1240px; z-index:999; *zoom:1; } 
#header .topbox .topmenu ul { position:absolute; right:0; top:15px; }
#header .topbox .topmenu ul:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
#header .topbox .topmenu li { float:left; font-size:11px; margin:0 0 0 14px; padding:0 0 0 18px; background:url(img/bg_top_bar.gif) left center no-repeat; }
#header .topbox .topmenu li:first-child { background:none; }
#header .topbox .topmenu li a { color:#7d8b9c; padding:0 0 0 15px; }
#header .topbox .topmenu li a.sitehome { background:url(img/icon_sitehome.gif) left 1px no-repeat; }
#header .topbox .topmenu li a.logout { background:url(img/icon_logout.gif) left top no-repeat; }

#gnb { position:relative; padding:27px 0; background-color:#353c45; *zoom:1; } 
#gnb:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
#gnb li { position:relative; float:left; font-size:14px; margin:0 0 0 20px; padding:0 0 0 21px; background:url(img/bg_gnb_bar.gif) left center no-repeat; }
#gnb li:first-child { margin:0 0 0 30px; padding:0 0 0 0; }
#gnb li a { font-weight:bold; color:#ddd; letter-spacing:-1px; }
#gnb li a img { margin:0 10px 0 0; vertical-align:middle; }
#gnb li a:hover, #gnb li a.on { color:#41b6c4; }


#container { position:relative; width:100%; height:100%; overflow:hidden; padding:0 0 116px 0; *zoom:1; } 
#container:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
#leftcont { position:relative; z-index:999; float:left; width:140px; padding:0 30px; background:url(img/bg_body_line.gif) left top repeat-y; }
#leftcont h3.tit { text-align:center; padding:30px 0 0 0; height:40px; color:#333; font-size:14px; font-weight:bold; letter-spacing:-1px; }
#leftcont ul { border-top:1px solid #ddd; }
#leftcont li { padding:18px 4px; border-bottom:1px solid #ddd; }
#leftcont li a { color:#666;font-weight:bold; }
#leftcont li a:hover, #leftcont li a.on { color:#1ea6b8; font-weight:bold; }

#contents { float:left; margin-right:-200px; width:100%; display:inline-block;  *zoom:1; } 
#contents:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
#contents div.titbox { height:70px; border-bottom:1px solid #ccc; }
#contents div.titbox h2.title { padding:27px 0 0 30px; color:#333; font-size:16px; font-weight:bold; letter-spacing:-1px; }
#contents .contbox { padding:34px 0 100px 30px; width:1010px; }


#footer { width:100%; min-width:1240px; height:116px; border-top:1px solid #ddd; background-color:#fff; }
#footer .txt_copyright { padding:25px 0 0 30px; font-family:Tahoma; color:#777; font-size:11px; letter-spacing:1px; }