@charset "utf-8";
.mvisual_box { margin:0; *zoom:1; } 
.mvisual_box:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
.mvisual_box .main_visual { float:left; position:relative; width:750px; height:280px; overflow:hidden; }
.mvisual_box .main_visual .touchslider{ position:relative; width:750px; }
.mvisual_box .main_visual .touchslider-viewport{ position:relative; width:750px !important; height:280px; overflow:hidden; }
.mvisual_box .main_visual .touchslider-item { position:relative; z-index:15; width:750px !important; overflow:hidden; float:left; }
.mvisual_box .main_visual .touchslider-next { position:absolute; display:none; }
.mvisual_box .main_visual .touchslider-prev { position:absolute; display:none; }
.mvisual_box .main_visual .paginate { position:absolute; bottom:0; left:0; z-index:99; }
.mvisual_box .main_visual .paginate span { margin:0 6px 0 0; cursor:pointer; overflow:hidden; text-indent:-9999em; float:left; width:13px; height:11px; background:url(img/bg_v_pn.png) 0 0 no-repeat; }
.mvisual_box .main_visual .paginate span.current {  background-position:-18px 0; }
.mvisual_box .main_visual .touchslider-nav-num { position:relative; }
.mvisual_box .guidebox { float:right; }

.main_banner { margin:30px 0 0 0; }

.main_tcont { position:relative; margin:30px 0 0 0; height:212px; *zoom:1; } 
.main_tcont:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
.main_tcont p.tit { padding:0; height:55px; }
.main_tcont p.tit img { display:block; }
.main_tcont .notice_box { position:relative; float:left; width:340px; background:url(img/bg_board_mb.gif) left bottom no-repeat; }
.main_tcont .mov_box { position:relative; float:left; margin:0 0 0 15px; width:340px; background:url(img/bg_board_mb.gif) left bottom no-repeat; }
.main_tcont .mov_box li { font-size:14px; }
.main_tcont .mov_box li span { top:2px; font-size:12px; }
.main_tcont .report_box { position:relative; float:left; margin:0 0 0 15px; width:340px; background:url(img/bg_board_mb.gif) left bottom no-repeat; }
.main_tcont .report_box .txtimg { padding:0 0 0 0; margin:25px 0 0 0; }
.main_tcont .report_box .txtimg.firstbox { margin:0; padding:0 0 25px 0; border-bottom:1px solid #ddd; }
.main_tcont .bg { padding:31px 30px 0 30px; height:300px; background:url(img/bg_board_mt.gif) left top no-repeat; }
.main_tcont .txtimg { padding:0 0 20px 0; *zoom:1; } 
.main_tcont .txtimg:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
.main_tcont .txtimg p.imgbox { float:left; width:120px; }
.main_tcont .txtimg dt { padding:5px 0 0 0; color:#616161; font-weight:bold; font-size:14px; }
.main_tcont .txtimg a { color:#616161; }
.main_tcont .txtimg dd { padding:12px 0 0 0; color:#777; font-size:12px; line-height:20px; letter-spacing:-1px; }
.main_tcont ul { padding:22px 0 0 0; border-top:1px solid #ddd; }
.main_tcont li { position:relative; margin:0 0 10px 0; }
.main_tcont li a { color:#616161; font-weight:bold; }
.main_tcont li span { position:absolute; right:0; top:0; color:#777; }
.main_tcont span.btn_more { position:absolute; right:28px; top:29px; }

.banner_zone { margin:40px 0 0 0; height:124px; border-top:1px solid #eee; background-color:#fff; }
.banner_zone ul { width:1050px; margin:0 auto; padding:38px 0 0 0; *zoom:1; } 
.banner_zone ul:after {content:""; display:block; visibility:hidden; clear:both; height:0;}
.banner_zone li { float:left; }
.banner_zone li.f1 { margin:0 0 0 9px; }
.banner_zone li.f2 { margin:0 0 0 52px; }
.banner_zone li.f3 { margin:0 0 0 59px; }
.banner_zone li.f4 { margin:0 0 0 67px; }
.banner_zone li.f5 { margin:0 0 0 52px; }
.banner_zone li.f6 { margin:0 0 0 68px; }
.banner_zone li.f7 { margin:0 0 0 59px; }