/*@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@font-face{font-family: 'Nanum Gothic'; src:url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css') format('woff');}*/
* { font-family: 'NanumSquareRound', 'Nanum Gothic', 'Montserrat', sans-serif; }
*{margin:0; padding:0;}
body { background-color:#f8f8f8; font-size:13px; max-width:900px; margin:0 auto; }
a { text-decoration:none !important;color:#000; transition:all 0.5s; -webkit-transition:all 0.5s; }
a:hover, a:active, a:focus, a:visited { text-decoration:none !important;color:#777; }
ul,li{list-style-type:none; }
body,header,footer,section,div,label,button,p,h1,h2,h3,h4,a,ul,li,input,textarea,table,tr,td,th { box-sizing:border-box; }
body { text-align:left; }
body.fixed { overflow:hidden; }
div.layer-background { display:none; }
div:after,li:after{content:""; clear:both; display:block;}
table{border-spacing:0px 0px; border-collapse:collapse;}

/* input reset*/
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand { display: none; }

input {-webkit-appearance: none;-moz-appearance: none; appearance: none;}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; -moz-appearance: none;appearance: none;
}
input { border:none;border-bottom:1px solid #999;text-indent:5px;font-size:13px;height:35px;display:block;width:100%;outline:none; }
input::placeholder { color:#999; }
/*
input + button[type=button] { position:absolute;top:5px;right:5px;width:auto;height:33px;padding:0 5px;background-color:#fff;border:none;outline:none;cursor:pointer;font-weight:bold; }
*/
select {
    font-size: 13px;
    padding: 5px 25px 5px 5px;
    background: url(../images/icon_arrow_down2.png) no-repeat right;
    background-size: 20px 16px;
    border:none;
    -webkit-appearance: none; outline:none;

}

/*input style*/
/*radio*/
.radio {position: relative;}
.radio input[type="radio"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.radio input[type="radio"] + label { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.radio input[type="radio"] + label:before { content: ''; position: absolute; left: 0; top: -4px; width: 21px; height: 21px; text-align: center; background: #fafafa; border: 1px solid #ddd; border-radius: 100%;}
.radio input[type="radio"] + label:active:before, .radio input[type="radio"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); }
.radio input[type="radio"]:checked + label:before { background: #fff; border-color: #574394; }
.radio input[type="radio"]:checked + label:after { content: ''; position: absolute; top: 1px; left: 5px; width: 13px; height: 13px; background: #574394; border-radius: 100%;}

/*CHECKBOX*/
.checks {position: relative;}
.checks input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.checks input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.checks input[type="checkbox"] + label:before { content: ''; position: absolute; left: 0; top: -4px; width: 21px; height: 21px; text-align: center; background: #fff; border: 1px solid #ddd; border-radius: 100%; }
.checks input[type="checkbox"]:checked + label:before { background: #fff; border-color: #574394; }
.checks input[type="checkbox"]:checked + label:after { content: ''; position: absolute; top: 1px; left: 5px; width: 15px; height: 15px; background: url(../images/checks.png) no-repeat; background-size:15px 15px;}


/*FILEBOX*/
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; } 
.filebox label { display: inline-block; padding: .5em .75em; color: #999; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; } /* named upload */ 
.filebox .upload-name { display: inline-block; padding: .5em .75em; /* label의 패딩값과 일치 */ font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: #f5f5f5; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }

.hide { display:none !important; }

header.wrap { max-width:900px;margin:0 auto; }
header { max-width:900px;margin:0 auto; }
div.swiper-area { max-width:900px;margin:0 auto; }
section { max-width:900px;margin:0 auto;position: relative; }

/* HEADER */
header.menu { position:fixed;top:0px;width:100%;height:45px;z-index:999999;background-color:#574394; }
header.menu .logo {}/*position:absolute; top:10px; left:50px; */
header.menu .logo > a { display:inline-block; float:left; width:83px; height:24px; background: url(../images/logo.png) no-repeat center; background-size:83px 24px;}
.right-area a{display:inline-block;}
.right-area a.menu-search{position:absolute; top:0px; right:45px; background:url(../images/icon_search.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}
.right-area a.btn-cart{position:absolute; top:0px; right:5px; background:url(../images/icon_cart.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}
.right-area a.btn-cart > span.badge{position:absolute; top:5px; right:0px;display:inline-block; text-align:center; height:12px; padding:2px; background-color:#ef3a64; color:#fff; border-radius: 100px; font-size:11px; font-weight:bold;}
.right-area a.btn-home{position:absolute; top:0px; right:5px; background:url(../images/icon_home.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}

/* SIDE MENU */
header.menu .menu-mobile { display:inline-block;z-index:999999; }
header.menu nav.menu {display:block; position:fixed; z-index:999995; top:0px; left:-280px; background-color:#f8f8f8; width:280px; height:100vh;text-align:left;padding:0px;transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;}

header.menu.open {}
header.menu.open nav.menu { display:block; position:fixed; z-index:999995; top:0px; left:0px; }
header.menu nav.menu > ul { padding:0px 0px 30px;overflow:auto;height:100vh; }
header.menu nav.menu li > a { display:block;font-weight:500;font-size:14px;padding:15px 0px;padding-left:45px;color:#000; cursor: pointer;}
header.menu nav.menu > ul li{clear:both;background-color:#fff;}
header.menu nav.menu > ul li.line{height:10px;background-color:#f8f8f8;}
header.menu nav.menu > ul li.profile{padding:15px 0px;  text-align:center; background-color:#f8f8f8;}
header.menu nav.menu > ul li.profile:after{content:""; clear: both; display:block;}
header.menu nav.menu > ul li.profile div.img{float:left; margin-left:15px; width:70px; height:70px; overflow: hidden; border-radius: 100%;}
header.menu nav.menu > ul li.profile div.img img{width:100%; height:auto;}
header.menu nav.menu > ul li.profile div.text{float:left; margin-left:10px; display:inline-block; padding-top:15px; font-size:14px; line-height:1.5em; text-align:left;}
header.menu nav.menu > ul li.profile a.btn{display:inline-block; font-size:16px; padding:8px 15px; margin:0 auto;}
header.menu nav.menu > ul li a.icon01{background:url(../images/side_icon01.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon02{background:url(../images/side_icon02.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon03{background:url(../images/side_icon03.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon04{background:url(../images/side_icon04.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon05{background:url(../images/side_icon05.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon06{background:url(../images/side_icon06.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon07{background:url(../images/side_icon07.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon08{background:url(../images/side_icon08.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon09{background:url(../images/side_icon09.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon10{background:url(../images/side_icon10.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a.icon11{background:url(../images/side_icon11.png) no-repeat 20px 12px;background-size:20px 20px;}
header.menu nav.menu > ul li a span.badge{display:inline-block; text-align:center; min-width:20px; margin-left: 6px; padding:2px; background-color:#ef3a64; color:#fff; border-radius: 100px; font-size:11px; font-weight:bold;}
div.layer-background{display:none;}
div.layer-background.open { display:block; position:fixed;z-index:99999; width:100%; height:100vh; top:0px; left:0px;background-color:#000; opacity:0.3;}

/*SEARCH BOX*/
.search-box{ display: none;}
.search-box.open { display:block; top:0px;}
.search-box { position: fixed !important; top:-45px; left:0px; z-index:9999999; width:100%; height:45px; background-color:#574394; transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease; }
.search-box.open { top: 0px;}
.search-box form { position:relative; margin:0 auto;display:block; }
.search-box input { padding:0 35px 0 15px;font-size:15px;color:#fff;background-color:#574394;width:90%;height:45px;border:none;outline:none; }
.search-box input::placeholder { color:#eeeeee; }
.search-box button { position:fixed;background-color:#574394;color:#ffffff;font-size:25px;line-height:25px;width:50px;height:65px;border:none;overflow:hidden;padding:0px;margin:0px;position:absolute;right:0;top:0px;cursor:pointer; }
.search-box button.search-button { right:50px; background:url(../images/icon_search.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}
.search-box button.search-close { right:0px; background:url(../images/icon_close.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}



/* START MENU MOBILE */
header.menu.open .menu-mobile{left: 240px;}
.menu-mobile {
    position: fixed;
    width: 45px;
    height: 45px;
    top: 0px;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    z-index:99999;
}

.menu-mobile span { background:#fff; overflow:hidden; display:block; height:2px; padding:0px; }

.menu-mobile:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
	/*
    -webkit-box-shadow: 0 0 32px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 32px rgba(0,0,0,.1);
    box-shadow: 0 0 32px rgba(0,0,0,.1);
	*/
}
.menu-mobile:active {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.1);
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.menu-mobile span {
    position: absolute;
    -webkit-transition: all .4s cubic-bezier(1,-.55,.2,1.37);
    -moz-transition: all .4s cubic-bezier(1,-.55,.2,1.37);
    -ms-transition: all .4s cubic-bezier(1,-.55,.2,1.37);
    -o-transition: all .4s cubic-bezier(1,-.55,.2,1.37);
    width: 20px;
    height: 1px;
    background: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.menu-mobile span:nth-of-type(1) {
    margin-top: -8px;
}
.menu-mobile span:nth-of-type(3) {
    margin-top: 8px;
}
.menu-mobile.active span {
    background: #333;
    margin: 0;
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    -moz-transform: translate(-50%,-50%) rotate(45deg);
    -ms-transform: translate(-50%,-50%) rotate(45deg);
    -o-transform: translate(-50%,-50%) rotate(45deg);
}
.menu-mobile.active span:nth-of-type(1) {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    -moz-transform: translate(-50%,-50%) rotate(-45deg);
    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    -o-transform: translate(-50%,-50%) rotate(-45deg);
}

/*SUB MENU SWIPER*/
.swiper-area{position: fixed; top:45px; height:90px; overflow: hidden; background-color:#fff;}
.swiper-area.w100 { width:100%; z-index:99999;}

.tabs > li { width: max-content; float:left; border-bottom:1px solid #ddd;}
.tabs > li > a {width:max-content; color: #666; padding: 12px 10px 11px; display: block; background: #fff; text-align: center; text-decoration: none; font-size: 15px; line-height: 20px; border-bottom: 2px solid transparent; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.tabs > li > a.active { font-weight:bold; border-bottom: 2px solid #574394; color: #000; }

.swiper-container {position:relative; overflow: hidden; height:45px; z-index: 9999; border-bottom:1px solid #d1d8e4;}
.swiper-wrapper { position: relative; width:700px; height:45px; z-index: 1; clear:both; }

.swiper-slide { -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative; }


/* ALING */
.right{float:right;}
.left{float:left;}
.clear{clear:both;}

/* BUTTON */
.btn{display:inline-block; padding:6px 10px; border:1px solid #ddd; background-color:#fff; border-radius: 2px;}
.btn-subpoint{text-align:center; background-color: #222; color:#fff !important;}
.btn-point{text-align:center; border-radius: 2px; border:1px solid #574394; background-color: #574394; color:#fff !important; }
.app_btn{background-color:#63bcc3; border:solid 1px #765dc1;}

/*FONT STYLE*/
.bold{font-weight:bold;}
.gray{color:#999}
.black{color:#000;}
.point{color:#854fd8;}
.subpoint{color:#f74d4d;}
.size18{font-size:18px;}

.ellipsis1{ text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}
.ellipsis2{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수*/  -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.2em; height: 2.4em;}

/*BOX STYLE*/
.box{background:#fff; }

/*LINE STYLE*/
.line{border-top:1px solid #ddd;}

/*WIDTH*/
.w240{width:240px;}
.w60p{width:60%;}
.w100p{width:100%;}

/*PADDING/ MARGIN*/
.pt10{padding-top:10px;}

/*FOOTER*/
.footer-area{background-color:#fff; border-top:1px solid #ddd;}
.footer-area div.cs div{width:50%; padding:20px; text-align:center;}
.footer-area div.cs div h3{font-size:16px; padding-bottom:10px;}
.footer-area div.cs div p{color:#999; line-height: 1.2em; padding-bottom:5px;}
.footer-area div.cs div a{display:block; text-align:center; margin-top:5px; padding:11px 10px 10px;border-radius: 100px; border:1px solid #574394; color:#574394; }
.footer-area div.cs div a.kakaobtn{border:1px solid #482a25; color:#482a25;}
.footer-area div.cs div.right{border-left:1px solid #ddd;}
.footer{padding:10px; text-align:center; background-color:#fff; border-top:1px solid #ddd;}
.footer div.footer-btn{padding:20px 0px;}

.footer div.footer-btn span{color:#ccc;padding:0px 15px;}
.footer p{color:#999; font-size:11px; line-height: 1.3em}

/*20200424*/
header.menu .logo{margin: 10px auto; width: 83px; height: 24px;}
div.swiper-area{border-bottom:1px solid #ddd;}
.right-area a.btn-app{position:absolute; top:0px; right:90px; background:url(../images/icon_app.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}
.subtabs{box-shadow: 0 1 5px rgba(0, 0, 0, 0.5)}
.subtabs > li { width: max-content; float:left; border-bottom:1px solid #ccc;}
.subtabs > li > a {width:max-content; color: #666; padding: 12px 10px 11px; display: block; background: #fff; text-align: center; text-decoration: none; font-size: 14px; line-height: 20px; border-bottom: 2px solid transparent; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.subtabs > li > a.active { font-weight:bold; color: #574394; }
li > a.active2 { font-weight:bold; color: #63bcc3; border-bottom:2px solid #63bcc3;}
.subtabs > li > a i{font-size:13px; margin-right:5px; color:#999;}
.subtabs > li > a.active i{color:#574394;}
li > a.active2 i{color:#63bcc3;}

@media (min-width: 600px) {

.swiper-wrapper{width:100%;} 
.subtabs > li{width:12.5%; float:left;}
.tabs > li{width:12.5%; float:left;}
}