@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*@font-face{font-family: 'Nanum Gothic'; src:url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css') format('woff');}*/
*{margin:0; padding:0;}
a { text-decoration:none !important;color:#333; transition:all 0.5s; -webkit-transition:all 0.5s; }
a:hover, a:active, a:focus, a:visited { text-decoration:none !important;color:#333; }
ul,li{list-style-type:none; }
body,header,footer,section,div,label,button,p,h1,h2,h3,h4,a,ul,li,input,textarea,table,tr,td,th { box-sizing:border-box; }
body { text-align:left; font-family: 'Noto Sans KR', sans-serif;background-color:#f1f2f5; font-size:13px;min-width:360px !important;}
body.fixed { overflow:hidden; }
div.layer-background { display:none; }
div:after,li:after,section:after{content:""; clear:both; display:block;}
table{border-spacing:0px 0px; border-collapse:collapse;}
h5 {font-size: 1em; font-weight: normal;}
/* input reset*/
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand { display: none; }

input {-webkit-appearance: none;-moz-appearance: none; appearance: none;}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; -moz-appearance: none;appearance: none;
}
input { border:none;text-indent:5px;font-size:13px;height:35px;display:block;width:100%;outline:none; }
input::placeholder { color:#999; }
/*
input + button[type=button] { position:absolute;top:5px;right:5px;width:auto;height:33px;padding:0 5px;background-color:#fff;border:none;outline:none;cursor:pointer;font-weight:bold; }
*/
select {
    font-size: 13px;
    padding: 5px 25px 5px 5px;
    background: url(../images/icon_arrow_down2.png) no-repeat right;
    background-size: 20px 16px;
    border:none;
    -webkit-appearance: none; outline:none;

}

/*input style*/
/*radio*/
.radio {position: relative;}
.radio input[type="radio"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.radio input[type="radio"] + label { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.radio input[type="radio"] + label:before { content: ''; position: absolute; left: 0; top: -4px; width: 21px; height: 21px; text-align: center; background: #fafafa; border: 1px solid #ddd; border-radius: 100%;}
.radio input[type="radio"] + label:active:before, .radio input[type="radio"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); }
.radio input[type="radio"]:checked + label:before { background: #fff; border-color: #0096ff; }
.radio input[type="radio"]:checked + label:after { content: ''; position: absolute; top: 1px; left: 5px; width: 13px; height: 13px; background: #0096ff; border-radius: 100%;}

/*CHECKBOX*/
.checks {position: relative;}
.checks input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.checks input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.checks input[type="checkbox"] + label:before { content: ''; position: absolute; left: 0; top: -4px; width: 21px; height: 21px; text-align: center; background: #fff; border: 1px solid #ddd; border-radius: 100%; }
.checks input[type="checkbox"]:checked + label:before { background: #fff; border-color: #0096ff; }
.checks input[type="checkbox"]:checked + label:after { content: ''; position: absolute; top: 1px; left: 5px; width: 15px; height: 15px; background: url(../images/checks.png) no-repeat; background-size:15px 15px;}


/*FILEBOX*/
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox label { display: inline-block; padding: .5em .75em; color: #999; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; } /* named upload */
.filebox .upload-name { display: inline-block; padding: .5em .75em; /* label의 패딩값과 일치 */ font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: #f5f5f5; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }

.hide { display:none !important; }

header.wrap { margin:0 auto; }
header { margin:0 auto; }
div.swiper-area { margin:0 auto; }
section { margin:0 auto;}


/* START MENU MOBILE */
.menu-mobile {
    position: fixed;
    width: 35px;
    height: 35px;
    top: 7px;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    z-index:99999;
}

.menu-mobile span { background:#fff; overflow:hidden; display:block; height:2px; padding:0px; }

.menu-mobile:active {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.1);
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.menu-mobile span {
    position: absolute;
    -webkit-transition: all .4s cubic-bezier(1,-.55,.2,1.37);
    -moz-transition: all .4s cubic-bezier(1,-.55,.2,1.37);
    -ms-transition: all .4s cubic-bezier(1,-.55,.2,1.37);
    -o-transition: all .4s cubic-bezier(1,-.55,.2,1.37);
    width: 20px;
    height: 2px;
    background-color: #666;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.menu-mobile span:nth-of-type(1) {
    margin-top: -8px;
}
.menu-mobile span:nth-of-type(3) {
    margin-top: 8px;
}
.menu-mobile.active span {
    background: #333;
    margin: 0;
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    -moz-transform: translate(-50%,-50%) rotate(45deg);
    -ms-transform: translate(-50%,-50%) rotate(45deg);
    -o-transform: translate(-50%,-50%) rotate(45deg);
}
.menu-mobile.active span:nth-of-type(1) {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    -moz-transform: translate(-50%,-50%) rotate(-45deg);
    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    -o-transform: translate(-50%,-50%) rotate(-45deg);
}

/*header.menu.open .menu-user{left: 240px;}*/
.menu-user {
    position: fixed;
    width: 38px;
    height: 38px;
    top: 7px;
    left: 2%;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    z-index:99999;
}


.menu-user:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
.menu-user:active {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.1);
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.user_slide_close {position:absolute;top:15px;left:15px;width:15px;height:15px;cursor: pointer;background:url(../images/common/icon_close.png) no-repeat center;}
.btn_logout {position:absolute;top:15px;right:15px;padding:5px;cursor: pointer;background-color:#f8f8f8;border-radius:2px;font-size:0.9em;}
.user_level {padding-left:15px;padding-right:15px;background-color:#fff;}
.user_level img {padding-top:2px;}
.user_level .level_name {vertical-align:top;}
.my_fb {float:right;padding-top:8px;width:16px;height:16px;cursor: pointer;background:url(../images/common/icon_facebook.png) no-repeat center;}

.user_menu {padding:18px 15px 13px 15px;background-color:#fff;border-top:1px solid #e7e7e7;}
.user_menu div {width:65px;display:inline-block;text-align:center;position:relative;color:#888;font-size:0.85em;}
.user_menu div img{width:50%;display:block;margin:0 auto;}

.my_news {position:absolute;top:-6px;right:9px;border-radius:100%;background-color:#fe6c00;color:#fff;padding:3px;}

.user_manager {background-color:#fff;padding:0;}
.user_manager h3{height:45px;padding:10px 15px;border-bottom:1px solid #d8d8d8;}
.user_manager ul li{height:35px;padding:7px 15px;border-bottom:1px solid #e7e7e7;}
.user_manager ul span{float:right;font-size:0.85em;color:#888;padding-right:15px;background:url(../images/common/more_arrow.png) no-repeat right;background-size:15px 13px;background-position-y:3px;}

.user_point { padding:20px 15px 10px 15px;background-color:#fff;}
.user_point .cash_info_box{ border:2px solid #0096ff;border-radius:5px;position:relative;height:70px; padding:13px 12px;}
.user_point .cash_info_box .cash_req { padding:5px 15px;border-radius:15px;background-color:#0096ff;color:#fff;position:absolute;height:30px;right:10px;top:18px;font-weight:bold;}
.user_point .cash_info_box .cash_txt { font-size:0.85em;}
.user_point .cash_info_box .cash_info { font-weight:bold;font-size:1.3em;padding:5px 20px 0 0;background:url(../images/common/icon_cash.png) no-repeat right;background-size:15px 15px;background-position-y:11px;}
.user_point .point_info_box{ border-radius:3px;background-color:#f8f8f8;height:40px;padding:10px 10px 10px 15px;margin-top:10px;}
.user_point .point_info_box .point_info { padding-right:20px;;float:right;background:url(../images/common/icon_point.png) no-repeat right;background-size:15px 15px;}
.user_point .point_info_box img{ width:15px;padding-top:8px;}

.user_notice {padding:10px 15px;background-color:#fff;border-top:1px solid #e7e7e7;}
.user_notice h3{display:inline-block;font-size:1em;padding-right:15px;}


.user_inquiry{padding:15px;}


/*SUB MENU SWIPER*/
.swiper-area{position: absolute; top:105px; height:45px; overflow: hidden; background-color:#fff;}
.swiper-area.w100 { width:100%; z-index:999999;}

.tabs > li { width: max-content; float:left;padding:12px 10px 11px; border-bottom: 2px solid #0096ff;}
.tabs > li > a {width:max-content; color: #fff; background-color:#0096ff; display: block; text-align: center; text-decoration: none; font-size: 15px; line-height: 20px;font-weight:bold;  -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.tabs > li.active { font-weight:bold; border-bottom: 2px solid #fff; color: #fff; }
.tabs > li:first-child { margin-left:5px;}
.swiper-container {position:relative; overflow: hidden; height:45px; z-index: 9999;}
.swiper-wrapper { position: relative; width:720px; height:45px; z-index: 1; clear:both; }

.swiper-slide { -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative; }

.swiper-area:before, .swiper-area:after,  .swiper-container:after {position:absolute;top:0;z-index:99999;width:17px;height:43px;background:url(../images/common/slide_bg.png) no-repeat;background-size:37px 45px;content:''}
.swiper-area:before{left:0;background-position:0}
.swiper-area:after, .swiper-container:after{right:0;background-position:-17px 0;}
.sticky { position: fixed; top: 0; width: 100%; }

/* POSITION */
.pos-rel{position:relative;}
.pos-abs{position:absolute;}
.pos-fix{position:fixed;}

/* ALING */
.right{float:right;}
.left{float:left;}
.clear{clear:both;}

/* TEXT-ALING*/
.text-center {text-align:center;}
.text-left {text-align:left;}
.text-right {text-align:right;}

/* BUTTON */
.btn{display:inline-block; padding:6px 10px; border:1px solid #ddd; background-color:#fff; border-radius: 2px;}
.btn-subpoint{text-align:center; background-color: #222; color:#fff !important;}
.btn-point{text-align:center; border-radius: 2px; border:1px solid #0096ff; background-color: #0096ff; color:#fff !important; }
.app_btn{background-color:#63bcc3; border:solid 1px #765dc1;}

/*FONT STYLE*/
.bold{font-weight:bold;}
.gray{color:#999}
.black{color:#000;}
.red{color:#f00;}
.point{color:#0096ff;}
.subpoint{color:#fe6c00;}
.size18{font-size:18px;}

.ellipsis1{ text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}
.ellipsis2{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수*/  -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.2em; height: 2.4em;}

/*BOX STYLE*/
.box{background:#fff; }

/*LINE STYLE*/
.line{border-top:1px solid #ddd;}
.border-b{border-bottom:1px solid #e7e7e7;}
.border-t{border-top:1px solid #e7e7e7;}

/*WIDTH*/
.w240{width:240px;}
.w20p{width:20%;}
.w25p{width:25%;}
.w30p{width:30%;}
.w33p{width:33%;}
.w40p{width:40%;}
.w45p{width:45%;}
.w60p{width:60%;}
.w80p{width:80%;}
.w100p{width:100%;}

/*PADDING/ MARGIN*/
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pb15{padding-bottom:15px;}
.pl15{padding-left:15px;}
.pr15{padding-right:15px;}

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.ml15{margin-left:15px;}
.mr15{margin-right:15px;}
.mr10{margin-right:10px;}


/* HEADER */
header.menu { position:absolute;top:0px;width:100%;height:50px;z-index:999999;background-color:#fff; }
header.menu .logo { margin:15px auto; width:100px;}
header.menu .logo > a { display:inline-block; float:left; width:100px; height:25px;background: url(../images/common/logo.png) no-repeat center; background-size:72px 25px;}
/* SIDE MENU */
header.menu .menu-mobile { display:inline-block;z-index:999999; right:0px; }
header.menu nav.menu {display:block; position:fixed; z-index:999995; top:60px;background-color:#f8f8f8; width:300px; height:100vh;text-align:left;padding:0px;transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;}
header.menu nav#user_info{left:-300px;top:0px;}
header.menu nav#cate_list{right:-300px;overflow-y:scroll;}
header.menu nav#cate_list .layer-space{height:45px;}
#navbar {background-color:#0096ff;}
#navbar nav ul li a{color:#fff;}
header.menu nav#user_info.open { display:block; position:fixed; z-index:999995; top:0px; left:0px; }
header.menu nav#cate_list.open { display:block; position:fixed; z-index:999995; top:60px; right:0px;width:100%; }
header.menu nav.menu > ul { padding:0px;overflow:auto;}
/*header.menu nav.menu li > a { display:block;font-weight:500;font-size:14px;padding:15px 0px;padding-left:45px;color:#000; cursor: pointer;}*/
header.menu nav.menu > ul li{clear:both;background-color:#fff;}
header.menu nav.menu > ul li.line{height:10px;background-color:#f8f8f8;}
header.menu nav.menu > ul li.profile{padding:45px 15px 15px 15px;  text-align:center; background-color:#fff;}
header.menu nav.menu > ul li.profile:after{content:""; clear: both; display:block;}
header.menu nav.menu > ul li.profile div {text-align:center;}
header.menu nav.menu > ul li.profile div.img{ width:60px; height:60px; overflow: hidden; border-radius: 100%;margin:0 auto;}
header.menu nav.menu > ul li.profile div.img img{width:100%; height:auto;}
header.menu nav.menu > ul li.profile div.text{ display:block; padding-top:10px; font-size:1.2em; line-height:1.5em;color:#333;}
header.menu nav.menu > ul li.profile div.text-level { display:block; font-size:14px; line-height:1.5em;color:#888;}
header.menu nav.menu > ul li.profile a.btn{display:inline-block; font-size:16px; padding:8px 15px; margin:0 auto;width:48%}
header.menu nav.menu > ul li a span.badge{display:inline-block; text-align:center; min-width:20px; margin-left: 6px; padding:2px; background-color:#ef3a64; color:#fff; border-radius: 100px; font-size:11px; font-weight:bold;}
div.layer-background{display:none;}
div.layer-background.open { display:block; position:fixed;z-index:99999; width:100%; height:100vh; top:0px; left:0px;background-color:#000; opacity:0.3;}

/*SEARCH BOX*/
.search-box.open { display:block; top:0px;}
.search-box { position: absolute; top:50px; left:0px; z-index:999; width:100%; height:55px; background-color:#fff; padding:0 15px 5px 15px;transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease; }
.search-box.open { top: 0px;}
.search-box form { position:relative; margin:0 auto;display:block; }
.search-box input { border:1px solid #d8d8d8;margin: 10px 0;background-color:#fff;width:100%;height:35px;border-radius:20px; }
.search-box input::placeholder { color:#eeeeee; }
.search-box button { position:fixed;background-color:#0096ff;color:#ffffff;font-size:25px;line-height:25px;width:50px;height:65px;border:none;overflow:hidden;padding:0px;margin:0px;position:absolute;right:0;top:0px;cursor:pointer; }
.search-box button.search-button { right:0px; background:url(../images/common/search_zoom.png) no-repeat center; width:35px; height:35px;}
.search-box button.search-close { right:0px; background:url(../images/icon_close.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}



@media (min-width: 600px) {

.swiper-wrapper{width:100%;}
}

/*CATEGORY SLIDE MENU*/
.cate_menu {position:relative; margin:10px 0;}
.cate_menu .cate_more {position:absolute;top:15px;right:15px;width:15px;height:15px;background:url(../images/common/more_arrow.png) no-repeat center;}
.cate_menu h3{font-size:1.3em;font-weight:bold;color:#0096ff;padding:10px;background-color:#fff;height:45px;}
.cate_menu ul li {list-style:none;text-decoration:none; border-top:1px solid #e7e7e7;border-left:1px solid #e7e7e7;width:49.8%;display:inline-block;height:45px;float:left;background-color:#fff;padding:10px;}
.cate_menu ul li a{background-color:#fff;}
.cate_menu .make_league {position:absolute;padding:5px 10px;top:7px;right:15px;border:1px solid #fe6c00;border-radius:15px;}
.jjang_league h3{font-size:1.2em;font-weight:bold;color:#fe6c00;padding:10px;background-color:#fff;height:45px;}
.jjang_league h4{font-size:1.2em;font-weight:bold;color:#333;padding:10px;background-color:#fff;border-top:1px solid #e7e7e7;height:45px;clear:both;}
.jjang_league ul li {list-style:none;text-decoration:none; border-top:1px solid #e7e7e7;border-left:1px solid #e7e7e7;width:49.8%;display:inline-block;height:45px;float:left;background-color:#fff;padding:10px;}
.new {background-color:#ff271b;padding:0 5px 3px 5px;border-radius:3px;color:#fff;line-height:1em;font-size:13px;height:25px;margin-left:5px;}
.notice {background-color:#0096ff;font-weight:bold;padding:0 5px 3px 5px;border-radius:3px;color:#fff;line-height:1em;font-size:13px;height:25px;}

/*CONTENT BOX*/
.content_box {position:relative;top:150px;}
.content_box .ad_area1{width:100%; height:70px;padding:10px 20px;margin:0 auto; }
.content_box .ad_area2{width:100%; height:120px;padding:10px 20px;margin:0 auto; }

.content_box .notice_box {height:50px;padding:15px;}
.content_box h4 {height:45px;padding:10px 15px;font-size:1.1em;font-weight:bold;}
.content_box ul {margin:0 15px;}
.content_box ul li {list-style:none;text-decoration:none; width:100%;display:inline-block;height:40px;float:left;background-color:#fff;padding:10px 10px 10px 0;border-bottom:1px solid #e7e7e7;}
.content_box ul li:last-child {border-bottom:0;}
.content_box ul li a {border-bottom:0;}


.list_more {position:absolute;top:13px;right:15px;}
.content_box .board_name { color:#888888;margin-right:5px;}
/*
.content_box ul li a {display:inline-block;width:80%;}
.content_box .best_list ul li a {display:inline-block;width:60%;}
*/
.content_box .thumb-list{padding:10px 0 10px 0;}
.content_box .thumb-list li{position:relative; float:left; width:49%; padding:0px;height:auto;border:0;}
.content_box .thumb-list li:last-child{margin-left:2px;float:right; }
.content_box .thumb-list li a{display:block; position:relative;  background: #fff}
.content_box .thumb-list li a img{border-radius:3px};
.content_box .text-list1{ padding-top:15px !important;}


/*FOOTER*/
.footer-area{position: relative;top: 150px; border-top:1px solid #d8d8d8;}
.footer{text-align:center;}
.footer div.footer-btn{padding:20px 0px;}
.footer div.footer-btn a{border:1px solid #d8d8d8; border-radius:1px; color:#333;padding:6px 9px;background-color:#fff;margin-right:2px;font-size:0.85em;}
.footer div.footer-link{padding-bottom:20px;line-height:2em;}
.footer div.footer-link a { display:inline-block; color:#888888; font-size:0.9em;}
.footer div.footer-btn span{color:#ccc;padding:0px 15px;}
.footer p{color:#888888; font-size:11px; line-height: 1.3em;margin-bottom:20px;}

/*20200424*/
div.swiper-area{border-bottom:1px solid #ddd;}
.right-area a.btn-app{position:absolute; top:0px; right:90px; background:url(../images/icon_app.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}
.subtabs{box-shadow: 0 1 5px rgba(0, 0, 0, 0.5)}
.subtabs > li { width: max-content; float:left; border-bottom:1px solid #ccc;}
.subtabs > li > a {width:max-content; color: #666; padding: 12px 10px 11px; display: block; background: #fff; text-align: center; text-decoration: none; font-size: 14px; line-height: 20px; border-bottom: 2px solid transparent; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.subtabs > li > a.active { font-weight:bold; color: #0096ff; }
.subtabs > li > a.active2 { font-weight:bold; color: #63bcc3; border-bottom:2px solid #63bcc3;}
.subtabs > li > a i{font-size:13px; margin-right:5px; color:#999;}
.subtabs > li > a.active i{color:#0096ff;}
.subtabs > li > a.active2 i{color:#63bcc3;}

