img{}

/* GROUP */
.group{margin:10px; position:relative;}

/*MIAN*/
.main-bnr{margin-top:135px; margin-bottom:2px; width:100%;}
.mainbtn-area li{position:relative; margin:0px 5px 5px 5px; height:72px; background-color:#fff; border: 1px solid #ddd;}
.mainbtn-area li a{display:block; width:100%; height:70px; font-size:18px; padding:12px 0px 0px 20px;}
.mainbtn-area li a span{font-size:13px; color:#999;}
.mainbtn-area li a.main-btn01 {color:#b965e3; background: url(../images/btn_bg1.png) no-repeat right; background-size:155px 70px;}
.mainbtn-area li a.main-btn02 {color:#ea7272; background: url(../images/btn_bg2.png) no-repeat right; background-size:155px 70px;}
.mainbtn-area li a.main-btn03 {color:#e3b665; background: url(../images/btn_bg3.png) no-repeat right; background-size:155px 70px;}
.mainbtn-area li a.main-btn04 {color:#e365bc; background: url(../images/btn_bg4.png) no-repeat right; background-size:155px 70px;}
.mainbtn-area li a.main-btn05 {color:#8690d8; background: url(../images/btn_bg5.png) no-repeat right; background-size:155px 70px;}
.mainbtn-area li a.main-btn06 {color:#7eb4bd; background: url(../images/btn_bg6.png) no-repeat right; background-size:155px 70px;}
.mainbtn-area li a.main-btn07 {color:#673ab7; background: url(../images/btn_bg7.png) no-repeat right; background-size:155px 70px;}
.mainbtn-area li a.main-btn08 {color:#8bce8d; background: url(../images/btn_bg8.png) no-repeat right; background-size:155px 70px;}
.mainbtn-area li a span.arrow {position:absolute; top:25px; right:15px; width:20px; height:20px; background: url(../images/icon_arrow.png) no-repeat center; background-size:8px 15px; z-index: 2}

/*SUB HEADER*/
.sub-header{ position: fixed; top:0px; width: 100%; height: 45px; background-color:#574394; z-index: 99999}
.sub-header div.right-area
.sub-header div.right-area a{display:inline-block;}
.sub-header div.right-area a.btn-like{position:absolute; top:0px; right:55px; background:url(../images/icon_heart.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}
.sub-header div.right-area a.btn-share{position:absolute; top:0px; right:5px; background:url(../images/icon_share_top.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}
.sub-header div.right-area a.btn-cart{position:absolute; top:0px; right:5px; background:url(../images/icon_cart.png) no-repeat center; width:40px; height:45px; background-size:26px 26px;}
.sub-header div.right-area span.badge{position:absolute; top:5px; right:0px;display:inline-block; text-align:center; height:12px; padding:2px; background-color:#ef3a64; color:#fff; border-radius: 100px; font-size:11px; font-weight:bold;}
.sub-title {text-align:left; padding-left:50px; line-height:45px; font-weight:100; font-size:18px; color:#fff;}
.sub-title.view-title{width:70%; text-align:left; padding-left:45px;}
.back-btn{position:absolute; top:0px; left:0px; width:45px; height:45px; z-index:9}
.back-btn a{display:block; width:45px; height:45px; background:url(../images/icon_back.png) no-repeat center; background-size:25px 25px; }
.sub-search form { position:relative; margin:0 auto; display:block; }
.sub-search input {position:absolute; top:0px; left:45px; padding:0 35px 0 15px; font-size:15px; color:#fff;background-color:#574394; width:80%; height:45px; border:none; outline:none; }
.sub-search input::placeholder { color:#9b84f3; }
.sub-search button { position:fixed; background-color:#574394; color:#ffffff; font-size:25px; line-height:25px; width:50px; height:65px; border:none; overflow:hidden; padding:0px; margin:0px; position:absolute; right:0;top:0px; cursor:pointer; }
.sub-search button.search-button {position:absolute; top:0px; right:0px; background:url(../images/icon_search.png) no-repeat center; width:45px; height:45px; background-size:26px 26px;}

/*SUB BODY*/
.sub-body{margin-top:45px;}
.sub-title2{padding:10px 0px 0px 10px; text-align:left; color:#574394; font-size:18px; font-weight:bold;}

/*TAB*/
.tab.fixd{position:fixed; top:45px; z-index: 9999;max-width: 900px;}
.tab{width:100%; height:45px; background-color:#fff; border-bottom:1px solid #ddd;}
.tab a {display:block; float:left; height:45px; text-align:center; line-height: 45px;}
.tab.n2 a{width:50%;margin-left:-1px;border-left:1px solid #ddd;}
.tab.n4 a{width:25%;}
.tab a:first-child{margin:0px; border:0px;}
.tab a.current{font-weight:bold; color:#000; border-bottom:2px solid #574394;}
.tabcontent.fixd{margin-top:90px;}
.tabcontent{display:none;}
.tabcontent.current{display:block;}



/*SUB STYLE*/
.sub-body h1{font-size:16px; padding:15px 10px 5px 10px;}
.sub-body select.cate{ position:absolute;right:0;margin-top: -30px;}

/*SUB TITLE BNR*/
.sub-bnr{}

/*SEARCH*/
.best-search {margin-top:90px;}
.best-search li{padding:15px 0px; border-bottom:1px solid #eee;}
.best-search li span{font-size:16px; color:#574394; padding-left:20px; padding-right:10px; font-weight:bold;}
.best-search li span.up{float:right; width:20px; height:20px; background:url(../images/up.png) no-repeat center; background-size:15px 15px; }
.best-search li span.place{float:right; width:20px; height:20px; background:url(../images/place.png) no-repeat center; background-size:15px 15px;}
.best-search li span.down{float:right; width:20px; height:20px; background:url(../images/down.png) no-repeat center; background-size:15px 15px;}
.new-search {margin-top:90px;}
.new-search li{padding:15px 0px; border-bottom:1px solid #eee;}
.new-search div.right { float: right; }
.new-search span.day { color: #999;  padding-right:10px;}
.new-search div.right > a.btn-delete {display:inline-block; width:16px; height:16px; border-radius: 100px; background:url(../images/icon_close.png) no-repeat center #ddd; background-size:12px 12px;}

.search-footer { position:fixed; bottom:0px; left:0px; width:100%; height:45px; border-top:1px solid #dddd; background: #fff; }
.search-footer a{display:block; width:50%; height:45px; line-height:45px; float:left;border-left:1px solid #ddd; text-align:center;}
.search-footer a:first-child{border-left:0px;}

/*SEARCH LIST*/
.search-list-header {position:absolute; top:-45px; width:100%; height:46px; background-color:#fff; border-bottom:1px solid #ddd;z-index: 9999}
.search-category{position:absolute; top:0px; left:0; width:80px; height:45px; line-height:45px;padding-left:5px; background:url(../images/icon_arrow_down.png) no-repeat right; background-size:12px 12px;  z-index: 99999}
.search-category a{color:#000;}
.category-list { display: block; }
.category-list {position:absolute; top:46px; left:0px; background-color:#fff; border-bottom:1px solid #ddd; width:100%; box-shadow: 0px 0px 5px rgba(0,0,0,0.1); z-index: 999;}
.category-list h3{padding:20px 10px 10px 15px;}
.category-list li{padding:12px 15px;}
.category-swiper{margin-left:80px;}
.category-swiper > div.swiper-area{ padding-left:5px; border-left:1px solid #ddd;}
.category-list div.btn-close a{display:block; border-top:1px solid #eee; line-height:40px; font-size:16px; text-align:center; height:40px;line-height; background:url(../images/icon_close2.png) no-repeat center; background-size:16px 16px;}
.category-list div.btn-close a span{display:inline-block;width:16px; height:16px;}

/*SERCH-LIST*/
.search-list{margin-top:90px;}
.search-list > div.title{height:40px; padding:15px 10px;  font-size: 14px;}
.search-list > div.title a{display:inline-block; padding-right:15px; background:url(../images/icon_arrow_down.png) no-repeat right; background-size:12px 12px; }
.sort-area{position:absolute; top:130px; right:0px; width:100%;}
.sort-area li{ padding:10px 10px; border-bottom:1px solid #eee; background-color:#fff; }
.sort-area li.title{color:#000; background-color:#f8f8f8;}
.sort-area li.no-line{border:0px;}
.sort-area li.blind {border-bottom:1px solid #eee;}
.sort-area li.blind > ul > li{border:0px; width:50%; float:left;}
.sort-area li a.arrow{display:block; background:url(../images/icon_arrow_down.png) no-repeat right; background-size:12px 12px;}

/*PRODUCT LIST*/
.list li{position:relative; height:121px; clear:both; margin-bottom:10px; background-color:#fff; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;}
.list li div.img{position:absolute; top:0px; left:0px;width:120px; height:120px; overflow: hidden; border-right:1px solid #eee; z-index: 9}
.list li div.text{margin-left:132px; padding:15px 15px 15px 0px;}
.list li div.text h3{font-size:15px; font-weight:500; color:#000;}
.list li div.text div.pay{padding:16px 0px 5px 0px; font-size:18px; color:#000; font-weight:bold;}
.list li div.text div.count{float:left; width:50%; font-size:12px;}
.list li div.text div.delivery{float:right; text-align:right; width:50%;font-size:12px;}

/*PRODUCT LIST2*/
.product-list{padding:5px;}
.product-list li{position:relative; float:left; width:50%; padding:5px;}
.product-list li a{display:block; position:relative; border:1px solid #ddd; background: #fff}
.product-list li a div.new-icon{position:absolute; top:-2px; left:-2px; width:40px; height:40px; z-index: 9; background:url(../images/new_icon.png) no-repeat; background-size:40px;}
.product-list li div span.box-point{margin-left:5px; border-radius:2px; font-size:11px; background-color:#ff4c40; color:#fff; padding:2px;}
.product-list li div.soldout{position:absolute; top:0px; left:0px; z-index: 9}
.product-list li div.img{width:100%;}
.product-list li div.text{padding:12px 10px;}
.product-list li div.text h3{font-size:16px; font-weight:bold; color:#000; padding-bottom:5px;}
.product-list li div.text span.right{font-size:13px;}
.product-list li div.text span.left{font-size:15px;}
.product-list li div.text span.purple{padding:3px 5px 2px; font-size:11px; border:1px solid #876cdc; border-radius: 100px; color:#876cdc;}

.product-list2{}
.product-list2 li{position:relative; padding:10px 0px; border-bottom:1px solid #ddd; background: #fff}
.product-list2 li:first-child{border-top:1px solid #ddd;}
.product-list2 li a{display:block; position:relative; padding:10px; }
.product-list2 li a div.new-icon{position:absolute; top:-2px; left:-2px; width:40px; height:40px; z-index: 9; background:url(../images/new_icon.png) no-repeat; background-size:40px;}
.product-list2 li div span.box-point{margin-left:5px; border-radius:2px; font-size:11px; background-color:#ff4c40; color:#fff; padding:2px;}
.product-list2 li div.soldout{position:absolute; top:0px; left:0px; z-index: 9; width:100%;}
.product-list2 li div.img{position:relative; width:35%; float:left;}
.product-list2 li div.text{width:60%; float:right; text-align:right; padding:12px 10px;}
.product-list2 li h3{font-size:18px; font-weight:bold; color:#000; padding-bottom:10px;}
.product-list2 li div.text span{display:block; font-size:16px;}
.product-list2 li div.text span.bold{padding:10px 0px; font-size:20px; color:#ff2b2f;}
.product-list2 li div.text div.day{float:right; background-color:#999; width:150px; padding:10px; border:1px solid #777; border-radius: 6px;}
.product-list2 li div.text div.day span{font-size:11px; color:#fff;}
.product-list2 li div.text div.day span.time{font-size:20px; font-weight:bold; border-radius: 3px; color:#000; background-color:#fff;}


/*VIEW*/
.view{background-color:#fff;}
.view div.group{margin:0px; padding:10px;}
.view h2{ padding-top:20px; font-size:22px; text-align:center; }
.view p{ font-size:14px; line-height:1.6em; text-align:left;}
.view-footer{background-color:#fff; border-top:1px solid #ddd; border-bottom:1px solid #ddd; height:58px; padding-top:10px;}
.view-footer li{width:25%; float:left; padding:10px;}
.view-footer a{ display:block; float:left; width:18px; height:18px; padding-left:20px; font-size:16px;}
.view-footer a.btn-like{ border:0px; background:url(../images/view_icon_heart.png) no-repeat left; background-size:18px 18px; }
.view-footer a.btn-share{ background:url(../images/view_icon_share.png) no-repeat left; background-size:18px 18px; }
.view-footer a.btn-ripple{ background:url(../images/view_icon_ripple.png) no-repeat left; background-size:18px 18px; }
.view-footer a.btn-views{ background:url(../images/view_icon_views.png) no-repeat left; background-size:18px 18px; }

/*ITEM*/
.item-title{position:relative;}
.item-title h3{margin-top:8px; font-size:14px; padding:10px;}
.item-title a{position: absolute; top:10px; right:0px; display:block; width:60px; height:30px; font-size:12px;}
.item-list {display:block; padding-bottom:10px; border-bottom:1px solid #ddd;}
.item-list:after {content:""; display:block; clear:both;}
.item-list li{width:33.33%; float:left; padding:10px;}
.item-list li a div.text{color:#000;font-size:14px;}

/*COMMENT*/
.comment{position: fixed; bottom:-1px; left:0px; width:100%; height:50px; background-color:#fff; border-top:1px solid #ddd;z-index: 999}
.comment div.bookmark a{position:absolute; top:5px; left:5px;width:40px; height:40px; background: url(../images/view_icon_heart.png) no-repeat center; background-size:24px 24px; border-radius: 100px; border:1px solid #ddd;}
.comment div.input {position:relative; padding-top:5px; margin-left:55px; margin-right:50px;}
.comment button.btn-ripple{position:absolute; top:0px; right:0px; width:50px; height:45px; border:0px; background:url(../images/view_icon_ripple.png) no-repeat center; background-size:30px 30px; text-indent: -99999px}
.comment-list{background-color:#fff; padding-bottom:47px;}
.comment-list h2{text-align:left; font-size:14px; padding:15px 10px; border-bottom:1px solid #ddd;}
.comment-list li{position:relative; width:100%; min-height:80px; padding:10px; border-bottom:1px solid #eee;}
.comment-list li div.profile {position:absolute; top:10px; left:0px; width:80px; height:60px; text-align:center;}
.comment-list li div.profile img{width:60px; height:60px; border-radius: 100%;}
.comment-list li div.text {margin-left:90px; padding-right:5px; line-height: 1.4em}
.comment-list li div.text strong{ color:#999; }
.comment-list li div.text span{padding-left:10px;font-size:12px; color:#999;}

/*ORDER*/
.order-title{position:relative; padding:16px 10px;}
.order-title div.btn-area{position:absolute; top:10px; right:10px;}
.order-title div.btn-area a{font-size: 12px; border:1px solid #574394;}
.order-list {}
.order-list li{position: relative; margin-bottom:10px; padding:10px 0; background-color:#fff; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.order-list li div.checks{position:absolute; top:0px; left:10px; width:30px; height:30px; z-index: 9}
.order-list li > div.product{position:relative; padding:10px;}
.order-list li > div.product div.img{position:absolute; top:10px; left:40px; width:80px; height:80px;}
.order-list li > div.product div.text{margin-left:125px; margin-right:50px; min-height: 80px;}
.order-list li > div.product div.text h3{font-size:16px; color:#000; padding-bottom:5px;}
.order-list li > div.product div.text p.pay{font-weight:bold;color:#000; padding-bottom:10px;}
.order-list li > div.product div.text p.gray{font-size:13px;}
.order-list li > div.product button.btn-delete{position:absolute; top:10px; right:10px; display:block; width:20px; height:20px; background:url(../images/icon_close2.png) no-repeat center; background-size:16px 16px; border-radius: 3px; border:1px solid #ddd; z-index: 9}
.order-list div.select-box{margin-left:30px;}
/*option*/
.select-box{margin:15px 0px; border: 1px solid #999;}
.select-box select{display: block; padding:10px; width: 100%;}
.option-area{position:relative; margin-left:30px; padding:15px; background-color:#f8f8f8; border:1px solid #ddd;}
.option-area button.btn-delete{position:absolute; top:10px; right:10px; display:block; width:30px; height:30px; background:url(../images/icon_close2.png) no-repeat center; background-size:20px 20px; border-radius: 3px; border:1px solid #ddd; z-index: 9}
.option{margin-bottom:10px; font-size:13px;}
.option-info{} 
.plusminus_wrap{position:relative; float:left; width:50%;}
.option-info div.plusminus_wrap input.text{float:left;     text-indent: 0px; width:40px; text-align:center; border:1px solid #ddd;}
.option-info div.plusminus_wrap button.numbtn_minus,
.option-info div.plusminus_wrap button.numbtn_plus{float:left; width:35px; height:35px; background-color:#f8f8f8; border:1px solid #ddd;}
.option-info div.plusminus_wrap button.numbtn_minus{border-right:0px; background: url(../images/icon_minus.png) no-repeat center #f8f8f8; background-size: 20px;}
.option-info div.plusminus_wrap button.numbtn_plus{border-left:0px; background: url(../images/icon_plus.png) no-repeat center #f8f8f8; background-size: 20px;}
.option-info div.pay{width:48%; text-align:right; padding-top:10px; float:right; font-size:14px;}
.option-info div.pay span{font-weight: bold; font-size: 16px}

/*order-footer*/
.order-footer{position:fixed; border-top:2px solid #574394; bottom:-1px; left:0px; width:100%; background-color:#fff;}
.order-footer div.pay{height:50px; font-size: 18px; text-align:center; padding-top:12px;}
.order-footer div.pay span{font-weight:bold; font-size:20px;}
.order-footer div.btn-area{height:50px;}
.order-footer div.btn-area a.btn-subpoint{font-size:16px; width:40%; height:50px; line-height:50px; border-radius: 0px; float:left;}
.order-footer div.btn-area a.btn-point{font-size:16px; height:50px; line-height:50px; border-radius: 0px;float:right;}
/*order-form*/
.order-form{padding-bottom:40px; padding-top:5px;}
.order-form div.msg-box{margin:10px; background-color:#fff; border:1px solid #ddd; text-align:center;padding-top:10px;overflow:hidden;}
.order-form div.msg-box > span{ display:block;padding:5px 0; }
.order-form div.msg-box > span:nth-child(1){ font-size:28px;color:#dc4b11;font-weight:bold; }
.order-form div.msg-box > span:nth-child(2){ font-size:16px;color:#888888;font-weight:normal;display:block; }
.order-form div.msg-box > span:nth-child(3){ font-size:13px;color:#aaa;font-weight:normal;padding-bottom:15px; }
.order-form div.msg-box > img{ float: left; }
.order-form div.form-box{margin:10px; background-color:#fff; border:1px solid #ddd; padding-bottom:10px;}
.order-form div.form-box h3{padding:15px 10px; border-bottom:1px solid #ddd;}
.order-form div.form-box ul{padding:10px;}
.order-form div.form-box input{border:1px solid #ddd;}
.order-form div.form-box label{display:block; padding:10px 0px;}
.order-form div.form-box div.price{margin-bottom:0px;}
.order-form div.delivery-form{}
.order-form div.delivery-form p.guide-text{padding:10px; line-height: 1.6em}
.order-form div.delivery-form div.guide-text2{padding:15px 10px; border-top:1px solid #ddd;}
.order-form div.delivery-form table{width:100%; border-top:1px solid #ddd;}
.order-form div.delivery-form table tr{ border-top:1px solid #ddd;}
.order-form div.delivery-form table td{padding:10px; line-height: 1.5em}
.order-form div.delivery-form table td:nth-child(1){width:60px; font-weight:bold;}
.order-form div.delivery-form table td:nth-child(3){width:80px; text-align:center;}
.order-form div.delivery-form table td button{font-size: 12px}
.order-form div.delivery-form table th{padding:10px 0px; text-align: center}
.order-form div.select-area{border-top:1px solid #ddd; padding:10px 10px 0px 10px;}
.order-form div.select-area select{border:1px solid #ddd; width:100%; padding:10px;}
.address-area{}
.address-area input{margin-bottom:5px;}
.zipcode{position:relative;}
.zipcode-input{margin-right:94px;}
.zipcode button.zipcode-btn{display:block; position:absolute; top:0px; right:0px; height:35px;}
.order-form li.checks-box{margin-top:10px; padding:10px 0px;}
.order-form li.checks-box label {padding:0px 0px 0px 30px;}
.order-form li.checks-box label img{margin-left:5px; width:auto; height:12px;}
.card-area{}
.card-area input.number{display:inline-block; width:60px; border:1px solid #ddd;}
.card-area select{display:inline-block; width:120px; border:1px solid #ddd; padding:10px;}
.card-area p{padding-top:5px;}
.accept-terms a.more{display:block; margin:20px 0px 10px; border:1px solid #ddd; padding:10px; text-align: center;}
.accept-terms div.guide-text{line-height:1.4em; color:#999; border:1px solid #ddd; background-color:#f8f8f8; padding:10px;}
.order-form > div.price{margin-bottom:10px; border-top:1px solid #574394; border-bottom:1px solid #574394;}

.order-form div.finish-box{margin:10px; background-color:#fff; border:1px solid #ddd; padding-bottom:10px;}
.order-form div.finish-box h3{padding:15px 10px; border-bottom:1px solid #ddd;}
.order-form div.finish-box ul{padding:10px;}
.order-form div.finish-box ul>li{display:flex;}
.order-form div.finish-box input{border:1px solid #ddd;}
.order-form div.finish-box label{display:block; padding:10px 0px;clear:both; float:left; width:100px; }
.order-form div.finish-box .text{display:block; padding:10px 0px; float:left;}
.order-form div.finish-box div.price{margin-bottom:0px;}


/*price*/
.price{ padding:10px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background-color:#fff; margin-bottom:100px;}
.price li{padding:5px; font-size: 14px; color:#000;}
.price li div.point{display:inline-block; color:#000;}
.price li.price_all{color:#000; border-top:1px solid #eee; padding-top:10px;}
.price li span{font-size:16px;}
.price li.price_all span{font-size:18px;}

/*PRODUCT VIEW*/
.product-view{padding-bottom:40px;}
.product-view:after{content:""; clear:both; display:block;}
.product-view  h2{font-size:18px; font-weight:bold;}
.product-view div.img{width:100%;}
.product-view div.img img{border-bottom:1px solid #ddd;}
.product-view div.text h2{font-size:18px;}
.product-view div.text div.like,
.product-view div.text div.share{display:inline-block; float:left;}
.product-view div.text div.like a,
.product-view div.text div.share a{margin-top:5px; display:inline-block; width:max-content; padding:10px 10px 10px 25px;}
.product-view div.text div.like a{ background:url(../images/view_icon_heart.png) no-repeat left; background-size:20px;}
.product-view div.text div.like.on a{background:url(../images/view_icon_heart_on.png) no-repeat left; background-size:20px;}
.product-view div.text div.share a{ background:url(../images/view_icon_share.png) no-repeat left;background-size:20px;}
.product-view div.top_bn_zone{ background-color:#fff;}
.product-view div.top_fix_zone{ height:45px;max-width:900px;margin:0 auto; }
.product-view div.top_con_zone{}
.product-view div.btn-area{padding:10px 0px; text-align:center;}
.product-view div.btn-area button{padding:10px 20px; margin:0 auto;}
.share-pop{position:absolute; top:60px; width:80%; margin:0 auto; padding:10px; z-index: 999; text-align:center; background-color:#555; border-radius:10px}
.share-pop a{display:inline-block; margin:10px; width:30px; height:30px;}
.share-pop h3{color:#fff; padding:10px 0px;}
.share_icon1{background: url(../images/share_icon2.png) no-repeat center; background-size:30px;}
.share_icon2{background: url(../images/share_icon1.png) no-repeat center; background-size:30px;}
.share_icon3{background: url(../images/share_icon3.png) no-repeat center; background-size:30px;}
.share_icon4{background: url(../images/share_icon4.png) no-repeat center; background-size:30px;}
.top_bar_fix{ position:fixed; top:45px; left:0; width:100%; z-index: 99}
.pd_top_80{ padding-top:120px;}
.top_bn_zone > div.reseller{position: relative; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:10px;}
.top_bn_zone > div.reseller > label{display:block; padding:5px 0px 10px 0px;}
.top_bn_zone > div.reseller > div.input-box {margin-right:50px;}
.top_bn_zone > div.reseller > div.input-box input{border:1px solid #ddd;}
.top_bn_zone > div.reseller > button.btn{position:absolute; top:39px; right:10px; padding:10pxv 13px 9px 13px;}
.top_bn_zone > div.delivery{padding:10px; border-bottom:1px solid #ddd;}
.top_bn_zone > div.delivery h3{font-size:14px; padding-bottom:5px;}
.top_bn_zone > div.delivery p{line-height: 1.8em; color:#555;}
/*PRODUCT TAB*/
.product-tab {}
.product-tab a {font-size:14px; color:#000;}
.product-tab a span{font-size:12px; color:#999;}
/*PRODUCT INFO*/
/*product-tab1*/
#product-tab1{border-bottom:1px solid #ddd; background-color:#fff;}
.product-info .info table {width:100%; border: 1px solid #ddd; background-color:#fff;}
.product-info > div.info table th,
.product-info > div.info table td{padding:8px; border:1px solid #ddd;}
.product-info > div.info table th{background-color:#f8f8f8; color:#777;}
.product-info > div.guide-text li{ padding:10px 0px; line-height:1.4em; }
.product-info > div.title{position: relative; padding:10px; font-size:16px;}
.product-info > div.title div.arrow-up{position:absolute; top:2px; right:10px; width:30px; height:30px; background:url(../images/icon_arrow_up.png) no-repeat center; background-size:20px;}
.product-info > div.title div.arrow-down{position:absolute; top:2px; right:10px; width:30px; height:30px; background:url(../images/icon_arrow_down.png) no-repeat center; background-size:20px;}
/*product-tab2*/
#product-tab2{padding-bottom:30px; background-color:#fff;}
#product-tab2 .title {padding:10px 0px;}
#product-tab2 .title h3{text-align:center; font-weight:bold; font-size:14px; padding:10px;}
#product-tab2 .title-marks{text-align:center; text-align: center; font-weight:bold; font-size:25px;}
#product-tab2 .marks{display:inline-block; text-align:center;}
#product-tab2 .marks span.star-full{display:inline-block; width:22px; height:22px; background: url(../images/star_all.png) no-repeat bottom;background-size:22px; }
#product-tab2 .marks span.star-half{display:inline-block; width:20px; height:22px; background: url(../images/star_half.png) no-repeat bottom;background-size:22px; }
#product-tab2 .marks span.star-off{display:inline-block; width:22px; height:22px; background: url(../images/star.png) no-repeat bottom;background-size:22px; }
.review-list{ border-top: 1px solid #ddd;}
.review-list ul{ background-color:#fff;}
.review-list li{padding:15px 10px; border-bottom:1px solid #eee;}
.review-list li div.id-data{padding-bottom:5px; font-weight:bold;}
.review-list li div.id-data > div.marks span.star-full,
.review-list li div.id-data > div.marks span.star-half,
.review-list li div.id-data > div.marks span.star-off{width:12px !important; height:12px !important; background-size:12px !important;}
.review-list li p{line-height: 1.6em}
/*product-tab3/product-tab4 */
#product-tab3{padding-bottom:30px; background-color:#fff; border-top:1px solid #ddd;}
.inquiry{border-bottom:1px solid #ddd;}
.inquiry li{position:relative; padding:20px; border-bottom:1px solid #eee;}
.inquiry li:after{content:""; clear:both; display:block;}
.inquiry li div.answer-icon{position: absolute; top:14px; left:10px; padding:10px; width:50px; height:50px; border-radius:100%; border:2px solid #caa8ed; text-align:center; font-weight:bold; color:#9d72c9;}
.inquiry li div.answer-icon2{position: absolute; top:14px; left:10px; padding:10px; width:50px; height:50px; border-radius:100%; border:2px solid #ddd; text-align:center; font-weight:bold; color:#999;}
.inquiry li div.question{margin-left:50px; margin-right:20px;}
.inquiry li div.arrow-up{position:absolute; top:25px; right:10px; width:30px; height:30px; background:url(../images/icon_arrow_up.png) no-repeat center; background-size:20px;}
.inquiry li div.arrow-down{position:absolute; top:25px; right:10px; width:30px; height:30px; background:url(../images/icon_arrow_down.png) no-repeat center; background-size:20px;}
.inquiry li div.question p.title{font-size:14px; padding-top:5px;}
.inquiry li.question-answer{background-color:#f8f8f8;}
.inquiry li.question-answer div.question-text{padding-bottom:10px; border-bottom:1px solid #ddd; line-height: 1.6em}
.inquiry li.question-answer div.answer{padding-top:15px; line-height: 1.6em}
.inquiry li.question-answer div.answer p{margin-top:10px;}
.inquiry li.question-answer span.answer-id{padding:5px; background-color:#774ba4; border-radius: 5px; color:#fff;}
.inquiry li:last-child{}
/*product-tab4*/
#product-tab4{padding-top:20px; padding-bottom:20px; background-color:#fff; border-bottom:1px solid #ddd;}
.inquiry h2 {padding-left:10px; padding-bottom:10px; border-bottom:1px solid #ddd;}

/*PRODUCT FOOTER*/
.product-footer{position:fixed; border-top:2px solid #574394; bottom:-1px; left:0px; width:100%; background-color:#fff;z-index: 9999}
.product-footer div.pay{float:left; padding-left:10px; height:50px; font-size: 14px; text-align:center; padding-top:15px;}
.product-footer div.pay span{padding-left:5px; font-weight:bold; font-size:18px;}
.product-footer div.btn-area{float:right; width:120px; height:50px; padding-right:10px;}
.product-footer div.btn-area button.btn-point{font-size:16px; margin-top:5px; width:100%; padding:9px 15px;}

/*STORY SHOP*/
.story-list li{width:50%; float:left; padding:5px;}
.story-list ul{margin-bottom:10px; padding:5px;}
.story-list li a{display:block; background-color:#fff; border:1px solid #ddd; padding-bottom:8px;}
.story-list li > a > div.text{height:42px; color:#000; font-size:14px; padding:10px;}

/*HAPPY SHOP*/

/*BEST*/
.best-num{position:absolute; top:5px; left:5px; width:35px; height:40px; padding:10px 0px; text-align:center; background-color:#9484d2; color:#fff; font-size:20px; font-weight:bold; color:#fff;}
.best-num1{position:absolute; top:5px; left:5px; width:35px; height:40px; padding-top:16px; text-align:center; background:url(../images/icon_best.png) no-repeat 12px 3px;  background-color:#574394; background-size:12px; color:#fff; font-size:20px; font-weight:bold; color:#fff;}

/*PLUS DELIVERY*/
.plus-list{padding:5px;}
.plus-list li{position:relative; float:left; width:50%; padding:5px;}
.plus-list li a{display:block; border:1px solid #ddd; background: #fff}
.plus-list li div.img{width:100%;}
.plus-list li div.text{padding:12px 10px;}
/*QUICK BTN*/
.quick_btn{position:fixed; bottom:0px; right:10px; width:50px; z-index: 99}
.quick_btn a{display:block; width:50px; height:50px; margin-bottom:15px;}
.quick_btn a.btn-top{background:url(../images/common/icon_top.png) no-repeat center}
.quick_btn a.btn-top span{padding: 20px 7px 0px 13px; font-size: 0.7em; position: absolute;font-weight:bold;}
/*EVENT*/
.event-list{}
.event-list li{margin-bottom:5px;}
/*EVENT ATTEND*/
.event-attend{}
.event-attend div.day{padding:15px 10px 0px 10px; text-align:center; font-size:30px; font-weight:bold; color:#574394;}
.event-attend div.text{padding:10px; text-align:center;}
.event-attend button.btn-point{border:0px; padding:10px 20px; margin-top:20px;}
.calendar {margin:20px;}
.calendar table{ width:100%; background-color:#fff;}
.calendar th,.calendar td{width:14.2%; padding:10px 5px; text-align:center; border:1px solid #f8f8f8;}
.calendar th{color:#9d8fce;}
.calendar td{font-size:16px;}
.calendar td.check{color:#fff; background-color:#574394;}
.event-attend ul.guide-point{padding-bottom:20px;}
.event-attend ul.guide-point:after{content:""; clear:both; display:block;}
.event-attend ul.guide-point li{width:33.33%; float:left;}
.event-attend ul.guide-point li p{text-align:center;}
.event-attend ul.guide-point li p.box{background:url(../images/event_point_bg.png) no-repeat left; margin:5px 5px 0px 5px; font-size: 12px; text-align:center; border-radius: 3px; border:1px solid #6b53b4; color:#999; padding:10px;}
.event-attend ul.guide-text{margin-left:10px;;}
.event-attend ul.guide-point li p.box span.size{font-size:18px; font-weight:bold;}
.event-attend ul.guide-text li{margin-top:6px; width:100%; clear:both;}
.event_result li a{display:block; height:50px; background-color:#fff; border-bottom:1px solid #ddd; font-size:15px;  padding:18px 10px;}
.event_result li a span{float:right; font-size:13px; color:#999;}

/*PAGEVIEW*/
.pageview { position: relative; z-index: 9; height: 44px; margin: 6px 5px; border: 1px solid #e1e4e7; background-color: #fff; font-size: 0; line-height: 0; text-align: center;}
.pageview a{display: inline-block;width: 41px; height: 44px;font-size: 16px; line-height: 44px; color: #888;}
.pageview a.on{color:#574394; font-weight:bold;}
.pageview button.pre{ position: absolute; top: 0; left:0px; overflow: hidden; color: transparent; display: block; width: 43px; height: 42px; border: 0; border-right:1px solid #eee; background:url(../images/icon_arrow_pre.png) no-repeat center #fff; background-size: 20px;}
.pageview button.next{ position: absolute; top: 0; right:0px; overflow: hidden; color: transparent; display: block; width: 43px; height: 42px; border: 0; border-left:1px solid #eee; background:url(../images/icon_arrow_next.png) no-repeat center #fff; background-size: 20px;}

/*LOGIN*/
body.login-bg{background-color:#f8f8f8;}
.login-area{position:relative; width:100%;}
.login-area div.logo{margin:20px auto 0px auto; width:300px; height:300px; background:url(../images/login_bg.png) no-repeat center;}
.login-area div.btn-area{position: absolute; left: 0px; top: 300px; width: 100%; padding: 20px;}
button.kakao-login{display: block; border-radius: 3px; border: 0px; margin: 0 auto; width: 100%; height: 45px; max-width:300px; background-color: #fae100; color: #3c1e1e; font-size: 16px; font-weight:bold;}
button.naver-login{display: block; border-radius:3px; border:0px; margin:10px auto; width: 100%; height: 45px; max-width:300px; background-color: #1dc800; color: #fff; font-size: 16px; font-weight: bold;}

/*SIDE MENU*/
/*MYPAGE*/
.mypage-menu{position: absolute; top:-45px; width:100%; height:45px; overflow: hidden; background-color:#fff; border-bottom:1px solid #999; z-index: 9999}
.mypage-menu a{display:block; float:left; font-size: 15px; text-align:center; width:20%; height:45px; line-height: 45px; color: #666; }
.mypage-menu a.active { border-bottom: 2px solid #574394; color: #000; }
/*cart*/
.cart{margin-top:90px;}
.cart div.option-area{margin-top:10px; background:#fff; border:0px; border-top:1px solid #ddd; padding:10px 0px;}
.cart div.pay-delivery{margin-top:10px; padding-top:20px; border-top:1px solid #eee;}
.cart div.pay-delivery div.point{font-size:14px;}
/*earn*/
.earn-area{ margin-top: 80px; }
.earn-box{text-align:center;}
.earn-box button.btn-point{padding:10px 20px; font-size:16px;}
.earn{ margin: 10px auto; text-align:center; background:url(../images/point_bg.png) no-repeat center; background-size: 240px auto;  width:250px; height:130px; }
.earn p{padding-left:70px; text-align:left; padding-top:40px; font-size:25px; color:#574394; font-weight:900}
.earn p span{font-size:20px;}
.earn-area div.text{text-align:center; margin-top:20px; line-height: 1.5em; padding:20px; font-size:14px;}
.earn-area div.text strong{font-size:20px;}
.earn-area div.text p.gray{text-align:left;}
.earn-area div.earn-form{position:relative; margin:20px 0px 10px;}
.earn-area div.earn-input {margin-right:56px;}
.earn-area div.earn-input input{border:1px solid #ddd;}
.earn-area div.earn-form button{position:absolute; right:0px; top:0px; border-radius: 0px; padding:10px 15px 9px;}
/*point*/
.point-area{}
.point-area h2{text-align:center; color:#fff; font-weight:bold;}
.point-area h3{margin-top:20px; padding-bottom:10px; color:#fff;}
.mypoint{padding:20px; background-color:#574394;}
.mypoint li{padding:8px; background-color:#fff; margin-bottom:10px; }
.mypoint li div.title{float:left; width:50%; color:#333;}
.mypoint li div.point-txt{float:right; width:50%; font-size:15px; font-weight:bold; text-align:right;}
.mypoint li div.title.bold,.mypoint li div.point-txt.bold{font-size:16px; color:#574394;}
.mypoint-list {width:100%; border-top:1px solid #ddd;}
.mypoint-list tr{ border-top:1px solid #ddd;}
.mypoint-list td{padding:10px; line-height: 1.5em}
.mypoint-list th:nth-child(1){text-align:left; padding-left:10px;}
.mypoint-list td:nth-child(2){width:100px; text-align:center; font-size: 12px; font-weight:bold;}
.mypoint-list td:nth-child(3){width:50px; text-align:center;}
.mypoint-list td button{font-size: 12px}
.mypoint-list th{padding:10px 0px; text-align: center}
.point-area div.tabcontent h5{padding:6px 0px;}
.day-date{margin-top:5px;}
.day-date input{display:inline-block; padding-left:5px; border:1px solid #ddd; width:100px;}
.day-date button.btn{padding:10px;}

/*CATEGORY*/
.category-area{}
.category-area ul.tab{height:40px;border:0px;}
.category-area ul li{width:100%; border-bottom:1px solid #ddd; background-color:#fff;}
.category-area ul li a{display:block; clear:both; width:100%; height:40px; line-height: 20px; padding:10px;}
.category-area ul li.n2 a{line-height:20px; text-align:left;}
.category-area ul li.n2 a:nth-child(1){border-right:1px solid #ddd;}
.category-area ul li.n2,
.category-area ul.n2 li{width:50%; float:left;}
.sub-category{border-bottom:1px solid #ddd;}
.sub-category ul li{background-color:#f8f8f8; border:0px;}
.category-area div.title{text-align:center; padding:15px 0px; border-bottom:1px solid #ddd;}
.category-area div.title a{padding:10px 20px;}
.category-area h3{background-color:#fff;border-bottom:1px solid #ddd; }
.category-area h3 a{color:#000; display:block; padding:10px;}

/*ODER/DELIVERY/INQUIRE*/
.inquire-area{}
.inquire-area p.guide-text{padding:10px; line-height:1.6em;}
.inquire-area div.form-box{text-align:center; border:1px solid #ddd; margin:0px 10px 10px 10px; padding:10px;background-color:#fff;}
.inquire-area div.form-box label{display:block; padding-bottom:5px; text-align:left;}
.inquire-area div.form-box input{border:1px solid #ddd; margin-bottom:10px;}
.inquire-area div.form-box button{padding:10px 20px; font-size:16px;}
.inquire-list{}
.inquire-list li{margin-bottom:10px; background-color:#fff; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.inquire-list li div.day{font-size:14px; padding:10px; border-bottom: 1px solid #ddd}
.inquire-list li div.text {padding:10px; }
.inquire-list li div.text h4{padding:10px 0; font-size:16px;}
.inquire-list li div.text p{padding-bottom:10px; color:#999;}
.inquire-list li div.text button{border:1px solid #574394;}
.inquire-list li div.pay-text{font-size:16px; border-top:1px solid #ddd; padding:10px;}
.product div.text{line-height: 1.6em}
.product div.text span.btn{padding:3px 6px;}
/*SETING*/
.setting-area{ }
.setting-area ul.list{padding-top:10px;}
.setting-area ul.list li{ margin-bottom:10px; height:inherit; padding:10px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; }
.setting-area ul.list li div.text{margin-left:10px;margin-right:80px;}
.setting-area ul.list li div.checkbox{position: absolute; top:25px; right:0px; width:50px;height:50px;}
/*POPUP*/
#layer-box{position:fixed; top:0px; left:0px; width:100%; z-index:999999;}
#layer-popup{position:relative; margin:35% auto; width:310px; background-color:#fff;}
#layer-popup a.pop-close{position:absolute; top:0px; right:0px; display:block; width: 40px; height: 40px; border: 0; background:url(../images/icon_close2.png) no-repeat center #fff; background-size: 25px;}
#layer-popup div.title {padding:12px; border-bottom:1px solid #ddd; font-size:16px; font-weight:bold;}
#layer-popup div.body {padding:20px;}
#layer-popup form input{border:1px solid #ddd;  border-radius: 0px;}
#layer-popup form div.upload-file {display:block; margin-right:70px;}
#layer-popup form .filebox {position:relative; margin-top:10px;}
#layer-popup form .filebox label{ position: absolute; border-radius: 0px; top:0px; right:0px; padding:10px 10px 9px 10px;}
#layer-popup form textarea{ margin-top:10px;  border-radius: 0px; border:1px solid #ddd; width:100%; height:100px; padding:10px; }
#layer-popup form div.marks-star {margin-top:10px;}
#layer-popup form div.marks-star select{width:120px; border:1px solid #ddd; }
#layer-popup form div.marks-star select option span.gray{color:#999 !important;}

/*review popup*/
.review-popup{display:none;}
.review-popup.open{display:block;}
.review-popup > div.footer{width:100%;}
.review-popup form > div.footer button.btn-point{display:block; border-radius: 0px; width:100%; padding:15px 0px; font-size:16px; text-align:center;}
/*inquiry popup*/
.inquiry-popup{display:none;}
.inquiry-popup.open{display:block;}
.inquiry-popup div.body div.list{ position: relative; min-height: 90px;  padding-top:10px;}
.inquiry-popup div.body div.list:nth-child(2){border:0px;}
.inquiry-popup div.footer button.btn-point{display:block; float:left; border-radius: 0px; width:60%; padding:15px 0px; font-size:16px; text-align:center;}
.inquiry-popup div.footer button.btn-gray{display:block; float:left; border-radius: 0px; width:40%; padding:15px 0px; font-size:16px; text-align:center;}
.inquiry-popup div.profile{position:absolute; top:5px; left:0px; width:60px; height:60px;}
.inquiry-popup div.profile img{ border-radius: 100%;}
.inquiry-popup div.shop{position:absolute; top:5px; left:0px; width:60px; height:60px;}
.inquiry-popup div.shop img{ border-radius: 100%; border:1px solid #ddd;}
.inquiry-popup div.text{margin-left:70px;}
.inquiry-popup div.text div.name{padding-bottom:5px;}
.inquiry-popup div.text div.name span.btn{border:0px; font-size:11px; padding:2px 3px; background-color:#8f56bb;}
.inquiry-popup div.text p{line-height: 1.4em}
.inquiry-popup div.footer button.btn-point.w100p{width:100%;}

/* APP LAYOUT */
.app_layout{display:block;position:fixed;top:0;left:0;z-index:999999;width:100vw;height:100vh;background-color:#000000cc;}
.app_layout.hide {display:none;}
.app_layout .logo {
	margin: 60px auto 20px auto;
	width: 300px;
	height: 153px;
	background: url(../images/app_bg.png) no-repeat center;
	background-size:300px 153px;
	display:block;
	clear:both;
}
.app_layout .button { display:block;clear:both;text-align:center; }
.app_layout .button .btn {background-color:#63bcc3;color:#fff;font-weight:bold;font-size:20px;padding:10px 20px;cursor:pointer; border:1px solid #63bcc3; }
.app_layout .text { display:block;clear:both;text-align:center;margin-top:30px; }
.app_layout .text a { font-size:15px;color:#fff; text-decoration: underline !important;}


@media (min-width: 600px) {
.product-list li,
.plus-list li{width:33%;}
}

@media (min-width: 900px) {
.product-list li,
.plus-list li{width:25%;}
}

/*20200424*/
.main-title{text-align:center; font-size:16px; margin-top:10px; padding:15px 0px;}
.main-title span{color:#999;}
.plus-area ul li{width:33.33%; float:left; padding:5px;}
.plus-area ul li img{display:flex;}
.plus-area ul li a:after{content:""; clear:both; display:block;}
.plus-area ul li a{display:block; border:1px solid #ddd;}
.plus-text{padding:10px; border-top:1px solid #ddd;}

.beat-area ul li{width:50%; float:left;}
.event-area div.left,.event-area div.right{width:50%; float:left;}
.page-view {text-align:center;}
.page-view span{display:inline-block; width:5px; height:5px; border-radius: 100px; background-color:#ddd;}
.page-view span.active{background-color:#63bcc3;}
.group{}
.today-time{border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.today-time h4{padding:10px; font-size:15px; border-bottom:1px solid #eee;}
.today-time h5{text-align:right; font-size:16px; padding-bottom:5px;}
.today-time div.img{display:flex; width:36%; float:left;}
.today-time div.text{width:64%; float:left; padding:10px 10px 5px;}
.today-time div.text p.subpoint{text-align:right; font-size:15px; font-weight:900;}
.today-time div.time-area{padding:10px 0px;}
.today-time div.today{text-align:right; color:#999;}
.today-time div.time{ margin-top:10px; text-align:right; font-size:30px; font-weight:bold;}
.today-time div.time span{border:1px solid #ddd; border-radius: 3px; padding:5px 5px 0px;}
.sub-tab {text-align:center; padding:20px 0px;}
.sub-tab a{display:inline-block; font-size:13px; margin:0px 10px; padding:10px 0px;}
.sub-tab a.active{border-bottom:2px solid #63bcc3; color:#000; font-weight:bold;}
.ranking-area{border-bottom:1px solid #ddd;}
.ranking-area li{position:relative; background-color:#fff; border-top:1px solid #ddd;}
.ranking {position:absolute; top:0px; left:0px; border-radius: 0px; width:30px; height:30px; background-color:#ccc; color:#fff; z-index:999; font-weight:bold; text-align:center; padding-top:8px;}
.ranking.n1{padding-top:12px; background: url(../images/icon_ranking1.png) no-repeat 10px 3px #af7667; background-size:13px 8px;}
.ranking.n2{padding-top:12px; background: url(../images/icon_ranking1.png) no-repeat 10px 3px #af9b67; background-size:13px 8px;}
.ranking.n3{padding-top:12px; background: url(../images/icon_ranking1.png) no-repeat 10px 3px #a5af67; background-size:13px 8px;}

.ranking-area div.img{float:left; width:35%; display:flex;}
.ranking-area div.text{width:65%; padding:10px;}
.ranking-area div.text h4{margin-bottom:10px; color:#000; line-height:1.2em; float:left; font-size:14px;}
.ranking-area div.text p{color:#63bcc3; font-size:15px; font-weight:bold;}
.ranking-area div.text p span.percent{background-color:#e06a98; color:#fff; font-size:12px; border-radius: 10px; padding:5px 5px 2px; font-weight:bold;}

.beat-area div.sub-tab{border-bottom:1px solid #ddd;}
.beat-area li{position:relative; width:50%; float:left;}
.beat-area li div.box{border-bottom:1px solid #ddd;}
.beat-area li:nth-child(2n) div.box{ border-left:1px solid #ddd;}
.beat-area li a:after{content:""; clear:both; display:block;}
.beat-area li div.img{display:flex; height:190px;}
.beat-area li div.text{padding:10px;}
.beat-area li div.text h4{font-size:14px; color:#000; margin-bottom:3px; padding:2px 0px;}
.beat-area li div.text p.pay{font-size:16px; font-weight:900; color:#000;}
.beat-area li div.good{position:absolute; top:150px; right:10px; width:50px; height:50px; background: url(../images/view_icon_heart.png) no-repeat center #f8f8f8; background-size:30px; border-radius: 100px;}
.beat-area li div.good.on{position:absolute; top:150px; right:10px; width:50px; height:50px; background: url(../images/view_icon_heart_on2.png) no-repeat center #f8f8f8; background-size:30px; border-radius: 100px;}
.event-area div{border-top:1px solid #ddd;}
.event-area div a{display:flex;}
.swiper-area2 {position:relative; width:100%; height: 90px; overflow: hidden;}